{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "admin_main.html" %}

{% block admin_queries %}
  {{ datatable(
    'queries',
    [('id', 'id'), ('user', 'display_name'), ('time', 'query_time'), ('assignment', 'assignment'), ('topics', 'topics'), ('response', 'response_text'), ('helpful', 'helpful_emoji')],
    queries,
    link_col=0,
    link_template="/ideas/view/${value}",
    csv_link=url_for("admin.get_queries_csv", **request.args) | safe,
  ) }}
{% endblock %}
