{% extends "base.html" %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">{{ auth['class_name'] }}</h1>

    <form action="{{ url_for("instructor.set_config") }}" method="post">
      <input type="hidden" name="class_id" value="{{class_id}}">

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="language">Default Language:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <div class="select">
                <select name="default_lang" required>
                  <option value="">Please select</option>
                  {% for lang in config['LANGUAGES'] %}
                  <option value="{{lang}}" {% if lang == class_config['default_lang'] %}selected{% endif %}>{{lang | capitalize}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="avoid">Keywords to Avoid:</label>
          <p class="has-text-grey">Any keywords you want the system to avoid or not use in responses for this class.</p>
          <p class="has-text-grey">Write one per line.</p>
          <p class="has-text-grey">Be careful!  Writing "sum" will avoid discussing summation at all, while "sum()" will avoid just the sum funciton.</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea is-family-monospace" name="avoid" rows=10>{{ class_config['avoid'] }}</textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal"><!-- spacing --></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-link" type="submit" >Submit</button>
            </div>
          </div>
        </div>
      </div>

    </form>

  </div>

</section>

{% endblock %}
