{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}
{% from "recent_queries.html" import recent_queries %}

{% block body %}
<div class="columns is-desktop is-gapless">
  <div class="column is-three-quarters-desktop">
    <section class="section">

    <div class="container">
      <div class="content">
        <h1 class="title">Generate Ideas</h1>
        <p>Enter the assignment prompt to provide the <i>context</i> and a few topics, keywords, or ideas as <i>seeds</i>.</p>
      </div>

      {# debounce on the submit handler so that the form's actual submit fires *before* the form elements are disabled #}
      <form class="wide-labels" action="{{url_for('helper.help_request')}}" method="post" x-data="{loading: false}" x-on:pageshow.window="loading = false" x-on:submit.debounce.10ms="loading = true">

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="assignment">Assignment Prompt:</label>
          <p class="help-text">Copy the assignment <b>prompt</b> here.  This should be only the <i>most relevant</i> part of the assignment, where it discusses your topic and any constraints placed on it.</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" name="assignment" id="assignment" x-bind:disabled="loading" rows=10 required>{{ query.assignment }}</textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="topics">Topics of Interest:</label>
          <p class="help-text">List and/or describe any topics of interest to you so far.  These might be ideas you've had, interesting points raised in class, keywords from the reading that have stuck in your mind, or just about anything else...</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" name="topics" id="topics" x-bind:disabled="loading" rows=4 required>{{ query.topics }}</textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal"><!-- spacing --></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button
                class="button is-link"
                x-bind:class="loading ? 'is-loading' : ''"
                type="submit" >
              Submit Request
              </button>
            </div>
          </div>
        </div>
      </div>

    </form>
    </div>

    </section>

  </div>

  <div class="column has-background-light">
    {{ recent_queries(history) }}
  </div>

</div>

{% endblock %}
