{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "instructor_base.html" %}

{% block instructor_queries %}
{{
datatable('queries', [
    ('id', 'id'),
    ('user', 'display_name'),
    ('time', 'query_time'),
    ('assignment', 'assignment'),
    ('topics', 'topics'),
    ('response', 'response_text'),
    ('helpful', 'helpful_emoji')
  ],
  queries,
  link_col=0,
  link_template="/ideas/view/${value}",
  csv_link="/instructor/queries/csv"
)
}}
{% endblock %}
