{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}

{% block body %}
<section class="section">
  <div class="container">
    <div class="box content has-background-link-light has-text-dark is-size-3">
      <h1 class="is-size-1">Starburst: Use AI to explore writing topics.</h1>
      <p>It's like a brainstorming partner, suggesting keywords, concepts, and connections related to the seeds you provide.</p>
      {% if auth['user_id'] %}
      <a class="button is-link is-large" href="{{ url_for('helper.help_form') }}">
        Try it now
      </a>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
