{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}

{% block body %}
<section class="section">
  <div class="container">
    <div class="message box p-0">
      <div class="message-header">
        <h1 class="is-size-1 has-text-weight-bold" style="">A collection of AI-powered tools for learning.</h1>
      </div>

      <div class="message-body content is-size-3">

        <h2 class="is-size-2">
          <svg class="icon is-medium" aria-hidden="true"><use href="#svg_messages_square"></use></svg>
          Chat with an AI Tutor
          {% if auth.user %}
            <a class="button is-link ml-3 mt-1" href="{{ url_for('tutors.new_chat_form') }}">
              Try it now
            </a>
          {% endif %}
        </h2>
        <p>Work with focused tutors created by your instructor to help you learn and practice a particular concept.  Or have a chat with a tutor on a topic of your choice.</p>

        <h2 class="is-size-2">
          <svg class="icon is-medium" aria-hidden="true"><use href="#svg_qmark_circle"></use></svg>
          Generate Paper Ideas
          {% if auth.user %}
            <a class="button is-link ml-3 mt-1" href="{{ url_for('paper_ideas.help_form') }}">
              Try it now
            </a>
          {% endif %}
        </h2>
        <p>Explore writing topics.  It's like a brainstorming partner, suggesting keywords, concepts, and connections related to the seeds you provide.</p>

        <h2 class="is-size-2">
          <svg class="icon is-medium" aria-hidden="true"><use href="#svg_pencil"></use></svg>
          Check Writing
          {% if auth.user %}
            <a class="button is-link ml-3 mt-1" href="{{ url_for('language_helper.help_form') }}">
              Try it now
            </a>
          {% endif %}
        </h2>
        <p>Get quick, simple feedback on the mechanics and correctness of your writing.  It's most useful when learning a second language (or third, or fourth, ...).</p>

      </div>
    </div>
  </div>
</section>
{% endblock body %}
