{% extends "base.html" %}

{% block extrahead %}
  <script type="text/javascript">
    document.addEventListener('alpine:init', () => {
      Alpine.data('question_editor', (init_questions) => ({
        orig_questions: null,
        questions: init_questions,
        drag_index: null,

        init() {
          this.orig_questions = this.questions.slice();
        },
        dragstart(index, event) {
          // only allow drag if over the drag handle td
          const dragElement = event.target.querySelector("[data-drag-handle]");
          // use :hover match to detect if cursor is within the element
          if (dragElement === null || !dragElement.matches(":hover")) { event.preventDefault(); return; }
          this.drag_index = index;
        },
        dragenter(index) {
          if (this.drag_index === null || index === this.drag_index) { return; }
          const draggedItem = this.questions.splice(this.drag_index, 1)[0];
          this.questions.splice(index, 0, draggedItem);
          this.drag_index = index;
        },
        dragend() {
          if (this.drag_index === null) { return; }
          this.drag_index = null;
        },
      }));
    });
  </script>
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    {% if item.row_id %}
      {# We're editing an existing tutor. #}
      <h1 class="title">Editing focused tutor '{{ item.name }}' in class '{{ auth.cur_class.class_name }}'</h1>
      {% set form_save_action = url_for(".update_item", item_id=item.row_id) %}
    {% else %}
      <h1 class="title">Create a focused tutor for guided chats in class '{{ auth.cur_class.class_name }}'</h1>
      {% set form_save_action = url_for(".create_item") %}
    {% endif %}
    <form class="wide-labels" method="post" enctype="multipart/form-data" x-data="{loading1: false, loading2: false}" x-on:pageshow.window="loading1 = loading2 = false" x-on:submit.debounce.10ms="if ($event.submitter.id === 'gen_objectives') {loading1 = true} else {loading2 = true}">

      {% if item.row_id %}
        {# We're editing an existing tutor; pass that back in any updated so the cache is used. #}
        <input type="hidden" name="row_id" value="{{ item.row_id }}">
      {% endif %}

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="name">Name</label>
          <p class="help-text">What students will see when selecting a tutor.</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" name="name" id="name" x-bind:disabled="loading1 || loading2" required value="{{ item.name }}">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="topic">Topic or Focus</label>
          <p class="help-text">What should this tutor cover?</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" name="topic" id="topic" x-bind:disabled="loading1 || loading2" required value="{{ item.topic }}">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="context">Learning context</label>
          <p class="help-text">Briefly describe the class or other context.<br>E.g.: "A college CS 1 course using Python"</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" name="context" id="context" x-bind:disabled="loading1 || loading2" required value="{{ item.context }}">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Document (optional)</label>
          <p class="help-text">You may upload a PDF with additional context for generating objectives and questions (e.g., lecture notes, a book chapter, or an assignment).<br>Max file size: 1MB.</p>
        </div>
        <div class="field-body">
          <div class="field is-grouped" x-data="{filename: ''}">
            {% if item.document_filename %}
              <div class="control">
                <p class="mt-2">
                  Using: <strong>{{ item.document_filename }}</strong>
                </p>
              </div>
              <div class="control">
                <button class="button is-rounded is-outlined is-small mt-1" type="button" onclick="document.getElementById('doc_text_modal').showModal()">
                  View text
                </button>
              </div>
              <div class="control">
                <button
                  class="button is-rounded is-dnger is-outlined is-small mt-1"
                  type="submit"
                  id="remove_document"
                  x-bind:disabled="loading1 || loading2"
                  formaction="{{ url_for('class_config.table.guided.remove_document') }}"
                >
                  <span class="delete mr-2"></span>
                  Remove document
                </button>
              </div>
            {% else %}
              <div class="control file has-name">
                <label class="file-label">
                  <input class="file-input" type="file" name="document_file" accept=".pdf" x-bind:disabled="loading1 || loading2" @change="filename = $event.target.files.length ? $event.target.files[0].name : ''">
                  <span class="file-cta">
                    Choose a PDF…
                  </span>
                  <span class="file-name" x-text="filename || 'No file chosen'">
                    No file chosen
                  </span>
                </label>
              </div>
              <div class="control">
                <button
                  class="button is-link"
                  type="submit"
                  id="upload_document"
                  x-bind:disabled="!filename || loading1 || loading2"
                  formaction="{{ url_for('class_config.table.guided.upload_document') }}"
                >
                  <span class="icon">
                    <svg aria-hidden="true"><use href="#svg_upload"></use></svg>
                  </span>
                  <span>
                    Upload this document
                  </span>
                </button>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal"><!-- spacing --></div>
        <div class="field-body">
          <div class="field is-grouped is-flex-wrap-wrap">
            <div class="control">
              <button
                class="button {% if not item.objectives %}is-link{% else %}is-warning{% endif %}"
                type="submit"
                id="gen_objectives"
                x-bind:class="loading1 ? 'is-loading' : ''"
                x-bind:disabled="loading2"
                formaction="{{ url_for('class_config.table.guided.generate_objectives') }}"
              >
                <span>{% if item.objectives %}Regenerate{% else %}Generate{% endif %}</span>
                <span class="icon">
                  <svg aria-hidden="true"><use href="#svg_corner_right_down" /></svg>
                </span>
              </button>
            </div>
            <div class="control">
              <input name="num_objectives" required class="input" type="number" size="1" style="width: 4em;" x-data="{num_objectives: $persist(5)}" x-model="num_objectives">
            </div>
            <div class="control pt-2">
              draft learning objectives.
            </div>
            {% if item.objectives %}
              <div class="help-text ml-2 pt-3 is-size-7 is-italic">This will overwrite existing objectives and questions.</div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="objectives"><h2 class="title is-size-5">Learning Objectives</h2></label>
        </div>
        {% if item.objectives %}
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" x-bind:disabled="loading1 || loading2" required name="objectives" id="objectives" rows="5">
                {%- for obj in item.objectives %}
                  {{- obj.name }}
                {% endfor -%}
              </textarea>
            </div>
          </div>
        </div>
        {% else %}
        <div class="field-body pt-1">
          <p><i>None yet.</i></p>
        </div>
        {% endif %}
      </div>

      {% if item.objectives %}
      {% set has_questions = item.objectives | selectattr("questions") | first %}
      <div class="field is-horizontal">
        <div class="field-label is-normal"><!-- spacing --></div>
        <div class="field-body">
          <div class="field is-grouped is-flex-wrap-wrap">
            <div class="control">
              <button
                class="button {% if not has_questions %}is-link{% else %}is-warning{% endif %}"
                type="submit"
                id="gen_questions"
                x-bind:class="loading2 ? 'is-loading' : ''"
                x-bind:disabled="loading1"
                formaction="{{ url_for('class_config.table.guided.generate_questions') }}"
              >
                <span>{% if has_questions %}Regenerate{% else %}Generate{% endif %}</span>
                <span class="icon">
                  <svg aria-hidden="true"><use href="#svg_corner_right_down" /></svg>
                </span>
              </button>
            </div>
            <div class="control">
              <input name="num_questions" required class="input" type="number" size="1" style="width: 4em;" x-data="{num_questions: $persist(5)}" x-model="num_questions">
            </div>
            <div class="control pt-2">
              draft questions per objective.
            </div>
            {% if has_questions %}
              <div class="help-text ml-2 pt-3 is-size-7 is-italic">This will overwrite existing questions.</div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <h2 class="title is-size-5">Questions</h2>
        </div>
        <div class="field-body">
          <div class="content">
            {% for obj in item.objectives %}
              <div class="box">
              <h3 class="is-size-6">{{ loop.index }}. {{ obj.name }}</h3>
              <ol>
                {% set obj_index = loop.index0 %}
                {% for question in obj.questions %}
                  <input type="hidden" name="questions[{{ obj_index }}]" value="{{ question }}">
                  <li class="mt-3">{{ question | markdown }}</li>
                {% endfor %}
              </ol>
              <button class="button is-link is-light ml-4" type="button" onclick="document.getElementById('dia_{{ loop.index }}').showModal()">
                Edit questions
              </button>
              </div>
            {% else %}
              <p class="pt-2"><i>None yet.</i></p>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="field is-horizontal mt-5">
        <div class="field-label is-normal"><!-- spacing --></div>
        <div class="field-body">
          <div class="field is-grouped">
            <div class="control">
              {% set missing_questions = not item.objectives or (item.objectives | selectattr("questions") | list | length != item.objectives | length) %}
              <button class="button is-link" type="submit" {% if missing_questions %}disabled{% endif %} formaction="{{ form_save_action }}">
                Save Tutor
              </button>
            </div>
            <div class="control">
              <button class="button is-light" type="submit" formnovalidate formaction="{{ url_for('class_config.table.guided.reset_setup') }}">
                Start Over
              </button>
            </div>
          </div>
        </div>
      </div>

    </form>

  </div>
</section>

{% for obj in item.objectives %}
  <dialog id="dia_{{ loop.index }}" style="min-height: 75vh; width: 60%; max-width: 80em; min-width: min(50em, 100vw);">
    <div class="content box">
      <h3>{{ obj.name }}</h3>
      <form action="{{ url_for('class_config.table.guided.update_questions') }}"
            method="post"
            x-data='question_editor({{ obj.questions | tojson }})'
            >
            <input type="hidden" name="obj_index" value="{{ loop.index0 }}">
            <div class="field">
              <div class="label">Questions</div>
              <template x-for="(question, index) in questions">
                <div x-bind:draggable="drag_index === index" @dragstart="dragstart(index, $event)" @dragend="dragend" @dragenter="dragenter(index)" class="mt-2" style="display: flex; gap: 0.5em; align-items: center;">
                  <span data-drag-handle @mousedown="drag_index = index" @mouseup="drag_index = null" style="cursor: move; vertical-align: middle; text-align: center;" title="drag to reorder">
                    <svg aria-hidden="true" class="icon is-small mt-1"><use href="#svg_grip" /></svg>
                  </span>
                  <button type="button" class="delete" title="delete question" @click="questions.splice(index, 1)"></button>
                  <div class="control is-flex-grow-1">
                    <textarea class="textarea" name="questions[]" x-model="questions[index]" rows=3 ></textarea>
                  </div>
                </div>
              </template>
              <div class="control mt-2">
                <button type="button" class="button" @click="questions.push('')">
                  + add a question
                </button>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" type="submit">Update</button>
              </div>
              <div class="control">
                <button class="button" type="button" @click="questions = orig_questions.slice(); $event.target.closest('dialog').close()">Cancel</button>
              </div>
            </div>
      </form>
    </div>
  </dialog>
{% endfor %}

{% if item.document_filename %}
<dialog id="doc_text_modal" style="width: 60%; max-width: 80em; min-width: min(50em, 100vw);">
  <div class="content box">
    <h3>{{ item.document_filename }}</h3>
    <pre style="white-space: pre-wrap; max-height: 60vh; overflow-y: auto;">{{ item.document_text }}</pre>
    <div class="field is-grouped">
      <div class="control">
        <button class="button" type="button" onclick="this.closest('dialog').close()">Close</button>
      </div>
    </div>
  </div>
</dialog>
{% endif %}

{% endblock body %}
