{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}
{% from "chat_history.html" import chat_history %}

{% block extrahead %}
{% if 'tikz_experiment' in auth.class_experiments %}
<script src="/static/tikzjax.js" defer></script>
<link rel="stylesheet" href="/static/tikzjax_fonts.css">
{% endif %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/katex.min.css" integrity="sha384-7lU0muIg/i1plk7MgygDUp3/bNRA65orrBub4/OSWHECgwEsY83HaS1x3bljA/XV" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/katex.min.js" integrity="sha384-RdymN7NRJ+XoyeRY4185zXaxq9QWOOx3O7beyyrRK4KQZrPlCDQQpCu95FoCGPAE" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous" onload="renderMathInElement(document.querySelector('#chat_view'));"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11/build/styles/default.min.css">
<script type="module">
import markdownIt from 'https://cdn.jsdelivr.net/npm/markdown-it@14/+esm'
import hljs from 'https://cdn.jsdelivr.net/npm/highlight.js@11/+esm'

// highlight everything loaded from the server
hljs.highlightAll();

// set up a markdown renderer with highlighting for streamed responses
window.md = markdownIt({
  highlight: function (str, lang) {
    if (lang && hljs.getLanguage(lang)) {
      try {
        return hljs.highlight(str, { language: lang }).value;
      } catch (__) {}
    }
    return ''; // use external default escaping
  }
});
// disable escaping so that \(, \[, etc. come through for TeX math
window.md.inline.ruler.disable(['escape']);
</script>
<script defer type="text/javascript">
  document.addEventListener('alpine:init', () => {
    Alpine.data('chat_input', () => ({
      msgs: [],
      currentMessage: '',
      errorMessage: '',
      progress: '',
      loading: false,

      renderMessage(msg) {
        if (msg.loading && !msg.content) {
          return "💭 <em>thinking...</em>"
        }

        let text = msg.content;
        if (msg.loading) {
          text += " *[...]*";
        }

        if (msg.role === 'user') {
          return text;
        } else {
          return window.md.render(text);
        }
      },
      handleTab(e) {
        // Adapted from https://stackoverflow.com/a/6637396
        const el = e.target;
        if (el.value.length === 0) {
          // allow normal tab to advance if no contents yet
          return;
        }

        // prevent tab moving to next input
        e.preventDefault();

        const start = el.selectionStart;
        const end = el.selectionEnd;

        // set textarea value to: text before caret + tab  + text after caret
        el.value = el.value.substring(0, start) + "\t" + el.value.substring(end);

        // put caret at right position again
        el.selectionStart = el.selectionEnd = start + 1;
      },
      async reloadProgress() {
        const response = await fetch('{{ url_for('tutors.get_progress', chat_id=chat.id) }}');
        if (response.ok) {
          this.progress = await response.text();
        } else {
          console.log(`Fetch error: ${response}`);
        }
      },
      async sendMessage(formElement) {
        if (!this.currentMessage.trim() || this.loading) return;

        const newMessage = this.currentMessage.trim();

        // reset UI
        const savedMessage = this.currentMessage;  // in case of error
        this.errorMessage = '';
        this.currentMessage = '';
        this.loading = true;

        // add user's message and placeholder for response
        this.msgs.push({
          role: 'user',
          content: newMessage,
          loading: false,
        });

        let newResponse = Alpine.reactive({
          role: 'assistant',
          content: '',
          loading: true,
        });
        this.msgs.push(newResponse);

        try {
          // build formdata to send via fetch
          const formData = new URLSearchParams(new FormData(formElement));

          // start the request
          const response = await fetch('{{ url_for('tutors.new_message') }}', {
            method: 'POST',
            body: formData,
          });

          if (!response.ok) {
            // erase the previously entered message, which failed, and put it
            // back in the input element
            this.errorMessage = "⚠️ " + await response.text();
            this.msgs.splice(-2, 2);
            this.currentMessage = savedMessage;
            return;
          }

          // stream the response
          const reader = response.body.getReader();
          const decoder = new TextDecoder();

          while (true) {
            const { done, value } = await reader.read();
            if (done) break;

            const chunk = decoder.decode(value, { stream: true });
            // Append to assistant message
            newResponse.content += chunk;
          }
          this.reloadProgress();
          // refocus the message input textarea when done
          this.$nextTick(() => { this.$refs.msgInput.focus(); });
        } catch (error) {
          newResponse.content += '\n\n[An error occurred]';
          console.error('Streaming error:', error);
        } finally {
          this.loading = false;
          newResponse.loading = false;
        }
      },
    })
  )
})
</script>
<style type="text/css">
  .chat_grid {
    display: grid;
    grid-template-columns: 1fr 6fr;
    row-gap: 0.5em;
  }
  .chat_role {
    padding: 0.5em;
    padding-left: 0;
    font-style: italic;
    text-align: right;
  }
  .chat_role_system {
    color: #83a;
  }
  .chat_role_assistant {
    color: #358;
  }
  .chat_role_user {
    color: #834;
  }
  .chat_message {
    overflow-x: auto;
    max-width: 50em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 2px 10px 10px 2px;
  }
  .chat_message_system {
    border-left: solid 5px #92b;
    background: #92b2;
  }
  .chat_message_user {
    border-left: solid 3px #a44;
    background: #a442;
  }
  .chat_message_user_contents {
    white-space: pre-wrap;
  }
  .chat_message_user textarea {
    tab-size: 4;
  }
  .chat_message_assistant {
    border-left: solid 3px #47a;
  }
  .progress_widget {
    max-width: fit-content;
  }
  .progress_widget .status {
    font-variant: small-caps;
  }
  .progress_widget .in_progress {
    color: #04b;
    background: #04b1;
  }
  .progress_widget .in_progress .status {
    background: #04b2;
  }
  .progress_widget .completed {
    color: #080;
  }
  .progress_widget .completed .status {
    background: #0802;
  }
  .progress_widget .moved_on {
    color: #a64;
  }
  .progress_widget .moved_on .status {
    background: #a642;
  }
  .progress_widget .not_started {
    color: #611;
  }
  .progress_widget .not_started .status {
    background: #6112;
  }
</style>
{% endblock extrahead %}

{% block body %}
<div class="columns is-desktop is-gapless">

  <div class="column is-three-quarters-desktop">
    <section class="section">
      <div class="container content" id="chat_view">
        <h1 class="title">{{ chat.topic }}</h1>

        {% if chat.context_name %}
          <p class="is-size-5"><b>Context:</b> {{ chat.context_name }}</p>
        {% endif %}

        <form action="{{url_for('tutors.new_message')}}" method="post" x-data="chat_input()" x-on:pageshow.window="loading = false" x-on:submit="sendMessage($event.target); $event.preventDefault();">

          <input type="hidden" name="id" value="{{ chat.id }}">

          <div class="chat_grid">
            {% for message in chat.messages %}
              {% if message.role != 'system' or auth.is_admin %}
                <div class="chat_role chat_role_{{message.role}}">
                  {{ 'You' if message.role == 'user' else 'System' if message.role == 'system' else 'Tutor' }}
                </div>
                <div class="chat_message chat_message_{{message.role}}">
                  {% if message.role == 'system' %}
                  <details>
                    <summary>System prompt</summary>
                    <div class="content">{{ message.content | markdown }}</div>
                    </details>
                  {% elif message.role == 'assistant' %}
                    <div class="content">{{ message.content | markdown }}</div>
                  {% elif message.role == 'user' %}
                    <div class="chat_message_user_contents">{{ message.content }}</div>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}

            {% if msg_input %}
              <template x-for="msg in msgs">
                <div style="display: contents;">{# for 'passthrough' element so template gets a single el but grid still 'sees' two els here, not one #}
                  <div class="chat_role" :class="`chat_role_${msg.role}`" x-text="msg.role === 'user' && 'You' || 'Tutor'">
                  </div>
                  <div class="chat_message" :class="`chat_message_${msg.role}`" x-html="renderMessage(msg)" x-effect="msg.content + msg.loading /* hacky way to trigger the effect */; renderMathInElement($el);">
                  </div>
                </div>
              </template>
              <template x-if="errorMessage !== ''">
                <div style="display: contents;">{# for 'passthrough' element #}
                  <div class="chat_role chat_role_system">System</div>
                  <div class="chat_message chat_message_system" x-text="errorMessage"></div>
                </div>
              </template>

              <div class="chat_role chat_role_user">
                You
              </div>
              <div class="chat_message chat_message_user" style="padding-right: 0.5em">
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <textarea class="textarea is-link" rows=2 name="message" placeholder="Press ctrl+enter to send." autofocus x-model="currentMessage" x-ref="msgInput" x-bind:disabled="loading" @keydown.tab="handleTab" @keydown.enter="if ($event.ctrlKey) {sendMessage($event.target.form); $event.preventDefault();}"></textarea>
                  </div>
                  <div class="control">
                    <button
                        class="button is-link"
                        style="height: 100%;"
                        x-bind:class="loading ? 'is-loading' : ''"
                        type="submit" >
                        Send
                    </button>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if chat.analysis %}
              <div><!-- spacing --></div>
              <template x-if="!progress">
                {% include "progress_widget.html" %}
              </template>
              <div x-show="progress" x-html="progress"></div>
            {% endif %}
          </div>

        </form>
      </div>
    </section>
  </div>

  <div class="column has-background-light">
    {{ chat_history(recent_chats) }}
  </div>

</div>

{% endblock body %}
