<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style type="text/css">
      body { display: flex; min-height: 100vh; flex-direction: column; }
      @keyframes fadein {
        from { opacity: 0; transform: translateY(-100%); }
        to   { opacity: 1; transform: translateY(0); }
      }
      div.flash_message { animation: fadein 1s; }
      main.site-content { flex: 1; } /* expand main content, push footer to bottom of page/viewport */
      .icon svg, svg.icon { width: 1.2rem; height: 1.2rem; }
      span[title] { text-decoration:underline; text-decoration-style: dotted; }
      pre, .content pre { padding: 0.5rem 0.75rem; }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js" defer type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='datatables.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript">
      function initTable(tblname, rows, link_col, link_func, csv_link=null) {
        const table = new simpleDatatables.DataTable(`table#${tblname}`, {
        paging: rows > 15,
        perPage: 10,
        perPageSelect: [[10, 10], [20, 20], [50, 50], ["All", 0]],
        labels: {
          perPage: "per page",
          info: "{start} to {end} of {rows}",
        },
        template: options => `
<div class='${options.classes.container}'${options.scrollY.length ? ` style='height: ${options.scrollY}; overflow-Y: auto;'` : ""}></div>
<div class='${options.classes.bottom}'>
${ options.paging ? `<div class='${options.classes.info}'></div>` : "" }
${ options.paging && options.perPageSelect ?
  `<div class='${options.classes.dropdown}'>
    <label>
      <select class='${options.classes.selector}'></select> ${options.labels.perPage}
    </label>
  </div>` :
  ""
}
${ options.paging ? `<nav class='${options.classes.pagination}'></nav>` : "" }
${ options.searchable ?
  `<div class='${options.classes.search}'>
    <button class="button is-small" id="csv_${tblname}">Export CSV</button>
    <input class='${options.classes.input}' placeholder='${options.labels.placeholder}' type='text' size='7'>
  </div>` :
  ""
}
</div>`,
        });
        table.on("datatable.selectrow", (row, event) => {
          if (event.target.tagName !== 'TD') {
            // button or something other than the data/cell itself -- don't trigger anything and let the default happen
            return;
          }
          if (event.button === 0) {
            // left click, open in new window
            const value = table.data.data[row][link_col].text;
            const url = link_func(value);
            //window.open(url, '_blank');
            window.location = url;
          }
        });
        if (csv_link) {
          document.querySelector(`button#csv_${tblname}`).addEventListener('click', event => {
            window.location = csv_link;
          });
        }
        else {
          document.querySelector(`button#csv_${tblname}`).addEventListener('click', event => {
            simpleDatatables.exportCSV(table);
          });
        }
      }
    </script>
    {% if 'timezone' not in session %}
    <script type="text/javascript">
      // Send browser's timezone to server for displaying dates/times in local timezone.
      const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      fetch("/set_timezone", {method: 'POST', body: timezone});
    </script>
    {% endif %}
    <title>{{ config['APPLICATION_TITLE'] }}</title>
  </head>
  <body>
    <nav class="navbar is-dark is-size-5" role="navigation" aria-label="main navigation" x-data="{menu_open: false}">
      <div class="navbar-brand">
        <a class="navbar-item is-size-3" href="/">
          {{ config['APPLICATION_TITLE'] }}
        </a>
        {% if auth['user_id'] %}
          <a class="navbar-item has-text-success" href="{{ url_for('helper.help_form') }}">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
            </span>
            <span>{{ config['HELP_LINK_TEXT'] }}</span>
          </a>
        {% endif %}
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" x-bind:class="menu_open ? 'is-active' : ''" x-on:click="menu_open = ! menu_open">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" x-bind:class="menu_open ? 'is-active' : ''">
        <div class="navbar-start">
        {% for nav_item_template in config['NAVBAR_ITEM_TEMPLATES'] %}
          {% include nav_item_template %}
        {% endfor %}
        </div>
        <div class="navbar-end">
          {% if auth['user_id'] %}
            <a class="navbar-item is-size-6" style="flex-direction: column; justify-content: center;" href="{{ url_for('auth.user_profile') }}">
              <div style="display: flex; align-items: center;">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                </span>
                <span class="is-italic">{{ auth['display_name'] }}</span>
              </div>
              {% if auth['lti'] %}
              {% set class_name=auth['lti']['class_name'] %}
              <div>
                <span class="is-italic" {% if class_name | length > 20 %}title="{{ class_name }}"{% endif %}>{{ class_name | truncate(20) }}</span>
              </div>
              {% endif %}
            </a>
            {% if auth['lti']['role'] == 'instructor' %}
              <a class="navbar-item is-size-6 has-text-success" href="/instructor/config">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                </span>
                <span>Configure Class</span>
              </a>
              <a class="navbar-item is-size-6 has-text-warning" href="/instructor/">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="3" y1="15" x2="21" y2="15"></line><line x1="12" y1="3" x2="12" y2="21"></line></svg>
                </span>
                <span>Instructor View</span>
              </a>
            {% endif %}
            {% if auth['is_admin'] %}
              <a class="navbar-item is-size-6 has-text-danger" href="/admin/">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path><path d="M12 8v4"></path><path d="M12 16h.01"></path></svg>
                </span>
                <span>Admin</span>
              </a>
            {% endif %}
            <div class="navbar-item">
              <form action="/auth/logout" method="post">
                <button class="button is-link" type="submit">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                  </span>
                  <span>Logout</span>
                </button>
              </form>
            </div>
          {% else %}
            <div class="navbar-item">
              <form action="/auth/login" method="get">
                <button class="button is-link" type="submit">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path><polyline points="10 17 15 12 10 7"></polyline><line x1="15" y1="12" x2="3" y2="12"></line></svg>
                  </span>
                  <span>Login</span>
                </button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    {% block second_nav %}{% endblock %}

    <main class="site-content">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <section class="section columns p-5">
          {% for category, message in messages %}
            <div class="flash_message notification column is-10 is-offset-1 is-size-4 pl-5 {% if category == "message" %}is-info{% else %}is-{{category}}{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
        </section>
      {% endif %}
      {% endwith %}

      {% block body %}{% endblock %}
    </main>

    <footer class="footer has-background-dark has-text-light">
      <div class="content has-text-right">
        <p>
        <b>{{ config['APPLICATION_TITLE'] }}</b> by Mark Liffiton.  <a href="https://forms.gle/ZvuAvgaKsnebG6G69" class="has-text-light is-underlined">Contact form</a>.
        </p>
      </div>
    </footer>
  </body>
</html>

