{% extends "base.html" %}
{% from "tables.html" import datatable %}

{% block body %}
<section class="section">
  <h1 class="title">{{ auth['class_name'] }}</h1>
  <div class="columns is-desktop">
    <div class="column is-3">
      <h2 class="is-size-3">Users</h2>
      {{ datatable('users', [('id', 'id'), ('user', 'display_name'), ('#queries', 'num_queries', 'r'), ('1wk', 'num_recent_queries', 'r')], users, link_col=0, link_template="?user=${value}") }}
    </div>
    <div class="column is-9">
      <h2 class="is-size-3">
        Queries
      <div class="tags is-inline are-medium">
        {% if user %}
        <span class="tag is-info mb-0">
          user={{user}}
          <a class="delete is-small is-link" href="?"></a>
        </span>
        {% endif %}
      </div>
      </h2>
      {% block instructor_queries %}
      {% endblock %}
    </div>
  </div>
</section>
{% endblock %}
