{% extends "base.html" %}
{% from "tables.html" import datatable %}

{% block body %}
<section class="section">
  <h1 class="title">{{ auth['class_name'] }}</h1>
  <div class="columns is-multiline is-desktop">
    <div class="column is-4-fullhd is-5-widescreen is-6">
      <h2 class="is-size-3">Users</h2>
      {{ datatable('users', [('id', 'id'), ('user', 'display_name'), ('#queries', 'num_queries', 'r'), ('1wk', 'num_recent_queries', 'r'), ('active?', 'active', 'b', 'instructor.set_role_active')], users, hidden_cols=['id'], link_col=0, link_template="?user=${value}") }}
      <p class="box p-2 has-background-light"><em>Users that are not active will not be able to access this class.</em></p>
    </div>
    <div class="column is-8-fullhd is-12">
      <h2 class="is-size-3">
        Queries
      <div class="tags is-inline are-medium">
        {% if user %}
        <span class="tag is-info mb-0">
          user={{user}}
          <a class="delete is-small is-link" href="?"></a>
        </span>
        {% endif %}
      </div>
      </h2>
      {% block instructor_queries %}
      {% endblock %}
    </div>
  </div>
</section>
{% endblock %}
