{% extends "base.html" %}

{% block body %}
<section class="section">
  <div class="container content">
    <h1>{{ auth['class_name'] }}</h1>

    {% if class_row['link_ident'] %}
    {# link_ident only in classes_user, so will only be set for user classes. #}
    <h2>Access &amp; Key</h2>
    <form action="{{ url_for("instructor.set_user_class_setting") }}" method="post">
      <input type="hidden" name="class_id" value="{{class_row['id']}}">

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label" for="language">Access/Join Link:</label>
        </div>
        <div class="field-body">
          <div class="field">
            {{ url_for("classes.access_class", class_ident=class_row['link_ident'], _external=True) }}
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="link_reg_active">Registration via Link:</label>
          <p class="has-text-grey">When enabled, any user who access the class link will be registered automatically.</p>
          <p class="has-text-grey">When disabled, only already-registered users can access the class via its link.</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input style="transform: scale(2.0); margin: 0.5rem;" name="link_reg_active" type="checkbox" onChange="this.form.submit()" {% if class_row['link_reg_active'] %}checked{% endif %}>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="openai_key">OpenAI Key:</label>
          <p class="has-text-grey">If blank, users in this class will not be able to submit queries.</p>
        </div>
        <div class="field-body">
          {% if class_row.openai_key %}
            <div style="margin-top: 0.375rem;" x-data="{show_confirm: false}">
              {{ "*" * 20 + class_row.openai_key[-4:] }}
              <button class="button is-danger is-small ml-3" type="button" @click="show_confirm=true" x-bind:disabled="show_confirm"><span class="delete mr-2"></span> Clear openai_key</button>
              <button class="button is-danger is-small" type="submit" name="clear_openai_key" x-show="show_confirm"><b>Confirm</b>&nbsp;clear openai_key</button>
            </div>
          {% else %}
            <div class="field has-addons">
              <div class="control">
                <input class="input" name="openai_key">
              </div>
              <div class="control">
                <button class="button is-link" type="submit" name="set_openai_key">Save</button>
              </div>
            </div>
          {% endif %}
        </div>
      </div>

    </form>
    {% endif %}

    {% block class_config_form %}
    {% endblock %}

  </div>

</section>

{% endblock %}
