{% extends "base.html" %}

{% block body %}
<style type="text/css">
dl.profile { display: grid; grid-template-columns: minmax(6em, max-content) 1fr; gap: 1em; }
dl.profile dt { font-weight: bold; text-align: right; }
dl.profile dd { margin: 0; }
</style>

<section class="section">
  <div class="container content is-size-5">
    <h1 class="title">Your Profile</h1>
    <dl class="profile">
      {% if user.full_name %}
        <dt>Full Name:</dt>
        <dd>{{ user.full_name }}</dd>
      {% endif %}
      {% if user.email %}
        <dt>Email:</dt>
        <dd>{{ user.email }}</dd>
      {% endif %}
      {% if user.auth_name %}
        <dt>{{ user.provider_name | title }} username:</dt>
        <dd>{{ user.auth_name }}</dd>
      {% endif %}
      {% if user.is_admin %}
        <dt></dt>
        <dd class="icon-text has-text-danger">
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path><path d="M12 8v4"></path><path d="M12 16h.01"></path></svg>
          </span>
          <span>Admin</span>
        </dd>
      {% endif %}
      {% if user.is_tester %}
        <dt></dt>
        <dd class="icon-text has-text-success">
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flask-conical"><path d="M10 2v7.527a2 2 0 0 1-.211.896L4.72 20.55a1 1 0 0 0 .9 1.45h12.76a1 1 0 0 0 .9-1.45l-5.069-10.127A2 2 0 0 1 14 9.527V2"/><path d="M8.5 2h7"/><path d="M7 16h10"/></svg>
          </span>
          <span>Tester</span>
        </dd>
      {% endif %}
      <dt>Queries:</dt>
      <dd>{{ user.num_queries }} total, {{ user.num_recent_queries }} in the past week.</dd>
      <dt>Tokens:</dt>
      <dd>{{ user.query_tokens }} remaining.  <span class="ml-3 is-size-6 has-text-grey">(These are used to submit queries to try out {{ config['APPLICATION_TITLE'] }}.  They are used when you do not have a class active.)</span></dd>
    </dl>
    <h2 class="title is-size-3">Classes</h1>
    <dl class="profile">
      <dt>Current:</dt>
      {% if auth['role'] %}
        <dd>{{ auth['class_name'] }} ({{ auth['role'] }})</dd>
      {% else %}
        <dd>None active.</dd>
      {% endif %}

      {% if other_classes %}
        <dt></dt><dd>
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Switch to:</span>
                <span class="icon is-small">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                {% for class in other_classes %}
                  <a href="{{ url_for("classes.switch_class_handler", class_id=class.id) }}" class="dropdown-item is-size-5">
                    {{ class.name }} ({{ class.role }})
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </dd>
      {% endif %}
    </dl>
    <div>
      <button class="button is-success is-dark" onclick="document.querySelector('#new_class_dialog').showModal()">Create new class</button>
    </div>
    <dialog id="new_class_dialog" style="border: none; background: none; width: 75%; min-width: min(32em, 100vw);">
      <div class="content box">
        <h2>Create a New Class</h2>
        <p>You can create a class, attach an OpenAI API key to it, and invite others to join it as students.  You will be given the 'instructor' role in the class, and you will be able to configure it, control access and registration, and see all queries from students who join.</p>
        <form action="{{url_for('classes.create_class')}}" method="post">
          <div class="field">
            <label class="label is-size-5" for="class_name">Class Name:</label>
            <div class="control">
              <input class="input" required name="class_name" id="class_name">
            </div>
          </div>
          <div class="field">
            <label class="label is-size-5" for="openai_key">OpenAI API Key:</label>
            <div class="control">
              <input class="input" required name="openai_key" id="openai_key">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-link" type="submit" >Submit</button>
            </div>
          </div>
        <form>
      </div>
    </dialog>
    <script type="text/JavaScript">
      // close dialog on click outside
      const dialog = document.querySelector("#new_class_dialog");
      dialog.addEventListener('click', function (e) {
          const rect = dialog.getBoundingClientRect();
          const isInDialog=(rect.top <= e.clientY && e.clientY <= rect.top + rect.height
            && rect.left <= e.clientX && e.clientX <= rect.left + rect.width);
          if (!isInDialog) {
              dialog.close();
          }
      });
    </script>
  </div>
</section>
{% endblock %}
