{% macro datatable(name, columns, data, hidden_cols=[], link_col="", link_template=None, edit_handler=None, del_handler=None, csv_link="") -%}
  <style type="text/css">
  {% for col in columns %}
    {% if col | length > 2 and (col[2] == 'r' or col[2] == 'b') %}
    table#tbl_{{name}} tr td:nth-child({{loop.index - (hidden_cols | length)}}), 
    table#tbl_{{name}} thead th:nth-child({{loop.index - (hidden_cols | length)}}) {
      text-align: right;
    }
    {% endif %}
  {% endfor %}
  {% if edit_handler or del_handler %}
    table#tbl_{{name}} tr td:nth-child({{columns | length + 1}}) {
      text-align: right;
    }
    table#tbl_{{name}} .button {
      height: 1.5em;
      vertical-align: text-bottom;
    }
  {% endif %}
  </style>
  <div x-data="{remove_item: {id: -1, type: 'None', data: {}}}">
  <table id="tbl_{{name}}">
    <thead>
      <tr>
      {% for col in columns %}
        <th {{ "data-hidden=true" if col[0] in hidden_cols else '' }}>{{ col[0] }}</th>
      {% endfor %}
      {% if edit_handler or del_handler %}
        <th data-sortable="False" data-searchable="False"></th>
      {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          {% for col in columns %}
            <td>
            {% if 'time' in col[1] %}
              {{ row[col[1]] | localtime }}
            {% elif col[1] == 'display_name' %}
              {{ row | user_cell }}
            {% elif col[1] == 'response_text' %}
              {{ row[col[1]] | fmt_response_txt }}
            {% elif col | length > 2 and col[2] == 'b' %}
              <input type="checkbox" {{ 'checked' if row[col[1]] else '' }} onclick="set_bool_{{col[1]}}({{row.role_id}}, this.checked)">
            {% else %}
              {{ row[col[1]] | tbl_cell }}
            {% endif %}
            </td>
          {% endfor %}
          {% if edit_handler or del_handler %}
            <td>
            {% if edit_handler %}
              <a class="button is-warning is-small p-1" href="{{ url_for(edit_handler, id=row['id']) }}">Edit</a>
            {% endif %}
            {% if del_handler %}
              <button class="button is-danger is-light is-small p-1" x-on:click="confirm_remove(remove_item, {{row.id}})">Remove</button>
            {% endif %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if del_handler %}
    <dialog id="remove_confirm_dialog" style="border: none; background: none; width: 75%; min-width: min(32em, 100vw);">
      <div class="content box">
        <h2>Remove <span x-text="remove_item.type"></span>?</h2>
        <ul>
          <template x-for="key in Object.keys(remove_item.data)">
            <li><span x-text="key"></span>: <span x-text="remove_item.data[key]"></span></li>
          </template>
        </ul>
        <p>Are you sure?</p>
        <p x-text="remove_item.extra_text"></p>
        <p class="has-text-danger">You will not be able to undo this action.</p>
        <form action="{{url_for(del_handler)}}" method="post">
          <input type="hidden" name="id" x-bind:value="remove_item.id">
          <input type="hidden" name="next" value="{{request.url}}">
          <button class="button" type="button" onclick="close_dialog()">Cancel</button>
          <button class="button is-link ml-4" type="submit" >Confirm</button>
        <form>
      </div>
    </dialog>
    <script type="text/JavaScript">
      const dialog = document.querySelector("#remove_confirm_dialog");
      function close_dialog() {
        dialog.close();
      }
      function confirm_remove(proxy_item, id) {
        proxy_item.id = id;
        fetch(`{{url_for(del_handler)}}/${id}`)
          .then(response => response.json())
          .then(obj => { proxy_item.type = obj.type; proxy_item.data = obj.data; proxy_item.extra_text = obj.extra_text; })
          .then(() => dialog.showModal());
      }
      // close dialog on click outside
      dialog.addEventListener('click', function (e) {
        const rect = dialog.getBoundingClientRect();
        const isInDialog=(rect.top <= e.clientY && e.clientY <= rect.top + rect.height
          && rect.left <= e.clientX && e.clientX <= rect.left + rect.width);
        if (!isInDialog) {
          dialog.close();
        }
      });
    </script>
  {% endif %}
  <script type="text/javascript">
    {% for col in columns %}
      {% if col | length > 2 and col[2] == 'b' %}
        // handler for a 'b'ool column
        function set_bool_{{col[1]}}(id, val) {
          const int_val = val ? 1 : 0;
          const url = `{{url_for(col[3])}}${id}/${int_val}`;
          fetch(url, {method: "POST"})
            .then(response => {
              if (!response.ok) {
                alert(`There was an error setting that value. [url: ${url}]`);
              }
            }
          );
        }
      {% endif %}
    {% endfor %}

    initTable("tbl_{{name}}", {{data | length}}, "{{link_col}}", value => `{{link_template}}`, "{{csv_link}}");
  </script>
  </div>
{%- endmacro %}
