{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}

{% block second_nav %}
<nav class="navbar is-light is-size-5" role="navigation" aria-label="admin navigation" x-data="{admin_menu_open: false}">
  <div class="navbar-brand">
    <a class="navbar-item has-text-danger is-tab {{ 'is-active' if request.endpoint == 'admin.main' else ''}}" href="{{url_for('admin.main')}}">
      <span class="icon">
        <svg aria-hidden="true"><use href="#svg_admin" /></svg>
      </span>
      <span>Admin</span>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" x-bind:class="admin_menu_open ? 'is-active' : ''" x-on:click="admin_menu_open = ! admin_menu_open">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" x-bind:class="admin_menu_open ? 'is-active' : ''">
    <div class="navbar-start">
      {% for page in admin_links %}
        <a class="navbar-item is-tab {{ 'is-active' if request.endpoint == page[0] else ''}}" href="{{url_for(page[0])}}">{{page[1]}}</a>
      {% endfor %}
    </div>
    <div class="navbar-end">
      {% for page in admin_links_right %}
        <a class="navbar-item is-tab {{ 'is-active' if request.endpoint == page[0] else ''}}" href="{{url_for(page[0])}}">{{page[1]}}</a>
      {% endfor %}
    </div>
  </div>
</nav>
{% endblock %}

{% block body %}
<section class="section pt-3 pb-4 pl-5 pr-5">
  {% block admin_body %}
  {% endblock %}
</section>
{% endblock %}
