{#
SPDX-FileCopyrightText: 2024 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "admin_base.html" %}

{% block admin_body %}
  <h1 class="is-size-3">Pruning User Data</h1>
  <h2 class="is-size-5">Candidates for Pruning &mdash; No activity in > {{ config['RETENTION_TIME_DAYS'] }} days</h2>
  <div style="max-width: 50em;">
    {{ datatable(
      'candidates',
      [('id', 'id'), ('name', 'display_name'), ('last query', 'query_time'), ('created', 'created')],
      candidates,
    ) }}
  </div>
{% endblock %}
