{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    {% if 'FAVICON' in config %}
      <link rel="icon" type="image/png" href="{{url_for('static', filename=config['FAVICON'])}}">
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style type="text/css">
      body { display: flex; min-height: 100vh; flex-direction: column; }
      @keyframes fadein {
        from { opacity: 0; transform: translateY(-50%) scale(80%); }
        to   { opacity: 1; transform: translateY(0) scale(100%); }
      }
      .icon-text { align-items: center; }
      .icon-text svg { height: 100%; }
      .button .icon:first-child:not(:last-child) { margin-right: 0.5em; }
      a.button-inline { display: inline-block; padding: 0.2em 0.5em; vertical-align: baseline; height: auto; }
      a.hover-show-icon + svg { opacity: 25%; }
      a.hover-show-icon:hover + svg { opacity: 100%; }
      div.flash_message { animation: fadein 1s; }
      main.site-content { flex: 1; } /* expand main content, push footer to bottom of page/viewport */
      span[title] { text-decoration: underline; text-decoration-style: dotted; }
      pre, .content pre { padding: 0.5rem 0.75rem; }
      .tbl_cols { display: flex; gap: 2em; flex-wrap: wrap; }
      .tbl_col { overflow: auto; }
      dialog { border: none; background: none; }
      dialog::backdrop { background: #0009; backdrop-filter: blur(4px); }
      p.help-text { font-size: 85%; margin-bottom: 0.5em; opacity: 92%; }
      .wide-labels .field-label { flex-grow: 1.5; }
      .box, .card, .panel, .dropdown-menu { box-shadow: 0.25em .5em 0.75em rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.05); }
      .dropdown-menu { padding-top: 0; }
      .content a:not(.button) { text-decoration: underline; }
      /* fix spacing in some of markdownit's lists */
      .content p:has(+ul), .content p:has(+ol) { margin-bottom: 0.25em !important; }
      .content ul ol, .content ol ul, .content ul ul, .content ol ol { margin-top: 0.25em; }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js" defer type="text/javascript"></script>
    <link href="{{ url_for('static', filename='datatables.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@8" type="text/javascript"></script>
    <script type="text/javascript">
      function initTable(tblname, rows, link_col, link_func, csv_link=null) {
        const table = new simpleDatatables.DataTable(`table#${tblname}`, {
        paging: rows > 15,
        perPage: 10,
        perPageSelect: [[10, 10], [20, 20], [50, 50], ["All", 0]],
        labels: {
          perPage: "per page",
          info: "{start} to {end} of {rows}",
        },
        template: options => `
<div class='${options.classes.bottom}'>
${ options.paging ? `<nav class='${options.classes.pagination}'></nav>` : "" }
${ options.paging ? `<div class='${options.classes.info}'></div>` : "" }
${ options.paging && options.perPageSelect ?
  `<div class='${options.classes.dropdown}'>
    <label>
      <select class='${options.classes.selector}'></select> ${options.labels.perPage}
    </label>
  </div>` :
  ""
}
</div>
<div class='${options.classes.container}'${options.scrollY.length ? ` style='height: ${options.scrollY}; overflow-Y: auto;'` : ""}></div>
<div class='${options.classes.bottom}'>
  <div class='${options.classes.search}'>
    <button class="button is-small" id="csv_${tblname}">Export CSV</button>
${ options.searchable ?
    `<input class='${options.classes.input}' placeholder='${options.labels.placeholder}' type='text' size='7'>` : ""
}
  </div>
</div>
`,
        });
        (link_col != "") && table.on("datatable.selectrow", (row, event) => {
          if (event.target.tagName !== 'TD') {
            // button or something other than the data/cell itself -- don't trigger anything and let the default happen
            return;
          }
          if (event.button === 0) {
            // left click, open in new window
            const value = table.data.data[row][link_col].text;
            const url = link_func(value);
            //window.open(url, '_blank');
            window.location = url;
          }
        });
        if (csv_link) {
          document.querySelector(`button#csv_${tblname}`).addEventListener('click', event => {
            window.location = csv_link;
          });
        }
        else {
          document.querySelector(`button#csv_${tblname}`).addEventListener('click', event => {
            simpleDatatables.exportCSV(table);
          });
        }
      }
    </script>
    <title>{{ config['APPLICATION_TITLE'] }}</title>
  </head>
  <body>
    {% include "icons.html" %}
    <nav class="navbar is-dark is-size-5" style="z-index: auto;" role="navigation" aria-label="main navigation" x-data="{menu_open: false}">
      <div class="navbar-brand">
        <a class="navbar-item is-size-3" href="/">
          {% include "logo.html" %}
          <svg aria-hidden="true" style="height: 1.5em; margin-right: 0.2em;" viewBox="0 0 14 10"><use href="#svg_app_logo" /></svg>
          {{ config['APPLICATION_TITLE'] }}
        </a>
        <a role="button" class="navbar-burger" style="height: inherit;" aria-label="menu" aria-expanded="false" x-bind:class="menu_open ? 'is-active' : ''" x-on:click="menu_open = ! menu_open">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" x-bind:class="menu_open ? 'is-active' : ''">
        <div class="navbar-start">
        {% if auth['user_id'] %}
          <a class="navbar-item has-text-success" href="{{ url_for('helper.help_form') }}">
            <div class="icon-text">
              <span class="icon">
                <svg aria-hidden="true"><use href="#svg_qmark_circle" /></svg>
              </span>
              <span>{{ config['HELP_LINK_TEXT'] }}</span>
            </div>
          </a>
        {% endif %}
        {% for nav_item_template in config['NAVBAR_ITEM_TEMPLATES'] %}
          {% include nav_item_template %}
        {% endfor %}
        </div>
        <div class="navbar-end">
          {% if auth['user_id'] %}
            {% set class_name=auth['class_name'] %}
            {% set has_dropdown=(class_name and auth['is_admin']) or (auth['other_classes']) %}
            <a class="navbar-item dropdown dropdown-trigger is-hoverable is-size-6" {% if has_dropdown %}aria-haspopup="true" aria-controls="classes-menu"{% endif %} style="flex-direction: column; justify-content: center;" href="{{ url_for('profile.main') }}">
              <div class="icon-text">
                <span class="icon">
                  <svg aria-hidden="true"><use href="#svg_user" /></svg>
                </span>
                <span class="is-italic">{{ auth['display_name'] }}</span>
              </div>
              {% if class_name %}
                <div>
                  <span class="is-italic" {% if class_name | length > 20 %}title="{{ class_name }}"{% endif %}>
                    {{ class_name | truncate(20) }}
                  </span>
                </div>
              {% endif %}
              {% if has_dropdown %}
                <div class="dropdown-menu" style="z-index: 999;" id="classes-menu" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      Switch class:
                    </div>
                    {% for class in auth['other_classes'] %}
                    <div class="dropdown-item">
                      <button class="button is-rounded is-link is-outlined is-small" type="button" onclick="location.assign('{{ url_for("classes.switch_class_handler", class_id=class['class_id'], next=request.path) }}'); return false;">{{ class['class_name'] }} ({{ class['role'] }})</button>
                    </div>
                    {% endfor %}
                    {% if auth['is_admin'] and class_name %}
                    <div class="dropdown-item">
                      <button class="button is-rounded is-danger is-light is-outlined is-small" type="button" onclick="location.assign('{{ url_for("classes.leave_class_handler") }}'); return false;">Leave class</button>
                    </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </a>

            {% if auth['role'] == 'instructor' %}
              <a class="navbar-item is-size-6 has-text-success" href="/instructor/config">
                <div class="icon-text">
                  <span class="icon" title="Configure Class">
                    <svg aria-hidden="true"><use href="#svg_config" /></svg>
                  </span>
                  <span class="is-hidden-desktop-only">Configure Class</span>
                </div>
              </a>
              <a class="navbar-item is-size-6 has-text-warning" href="/instructor/">
                <div class="icon-text">
                  <span class="icon" title="Instructor View">
                    <svg aria-hidden="true"><use href="#svg_table_grid" /></svg>
                  </span>
                  <span class="is-hidden-desktop-only">Instructor View</span>
                </div>
              </a>
            {% endif %}
            {% if auth['is_admin'] %}
              <a class="navbar-item is-size-6 has-text-danger" href="/admin/">
                <div class="icon-text">
                  <span class="icon">
                    <svg aria-hidden="true"><use href="#svg_admin" /></svg>
                  </span>
                  <span>Admin</span>
                </div>
              </a>
            {% endif %}
            <div class="navbar-item">
              <form action="/auth/logout" method="post">
                <button class="button icon-text is-link" type="submit">
                  <span class="icon">
                    <svg aria-hidden="true"><use href="#svg_logout" /></svg>
                  </span>
                  <span>Logout</span>
                </button>
              </form>
            </div>
          {% else %}
            <div class="navbar-item">
              <a href="/auth/login" class="button icon-text is-link">
                <span class="icon">
                  <svg aria-hidden="true"><use href="#svg_login" /></svg>
                </span>
                <span>Login</span>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    {% if auth['is_admin'] and auth['class_id'] is integer and auth['role_id'] is none %}
    <div class="has-background-link has-text-light has-text-centered p-2">
      <span class="icon-text">
        <span class="icon">
          <svg aria-hidden="true"><use href="#svg_admin" /></svg>
        </span>
        Admin in '{{ auth['class_name'] }}' as instructor role.
        <button class="button is-rounded is-light is-outlined is-small ml-3" type="button" onclick="location.assign('{{ url_for("classes.leave_class_handler") }}'); return false;">Leave class</button>
      </span>
    </div>
    {% endif %}

    {% block second_nav %}{% endblock %}

    <main class="site-content">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <section class="section p-5">
          {% for category, message in messages %}
            <div class="flash_message notification container is-max-desktop is-size-4 pl-5 {% if category == "message" %}is-info{% else %}is-{{category}}{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
        </section>
      {% endif %}
      {% endwith %}

      {% block body %}{% endblock %}
    </main>

    <footer class="footer has-background-dark has-text-light">
      <div class="content has-text-centered">
        <p><b>{{ config['APPLICATION_TITLE'] }}</b> by {{ config['APPLICATION_AUTHOR'] }}.</p>
        {% if config['DOCS_DIR'] %}
        <p><a class="has-text-light" href="{{ url_for("docs.main") }}">Documentation</a></p>
        {% endif %}
        <p><b>{{ config['APPLICATION_TITLE'] }} is open source</b>, part of the Gen-Ed framework: <a class="has-text-light" href="https://github.com/liffiton/GenEd">code on GitHub</a>.</p>
        {% if config['SUPPORT_EMAIL'] %}
        <p>Contact: <a class="has-text-light" href="mailto:{{ config['SUPPORT_EMAIL'] }}">{{ config['SUPPORT_EMAIL'] }}</a></p>
        {% endif %}
      </div>
    </footer>
    <script type="text/JavaScript">
      // close dialogs on click outside
      const dialogs = document.querySelectorAll("dialog");
      dialogs.forEach(dialog => dialog.addEventListener('click', function (e) {
          const rect = dialog.getBoundingClientRect();
          const isInDialog=(rect.top <= e.clientY && e.clientY <= rect.top + rect.height
            && rect.left <= e.clientX && e.clientX <= rect.left + rect.width);
          if (!isInDialog) {
              dialog.close();
          }
      }));
    </script>
    {% if 'timezone' not in session %}
    <script type="text/javascript">
      // Send browser's timezone to server for displaying dates/times in local timezone.
      const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      fetch("/set_timezone", {method: 'POST', body: timezone});
    </script>
    {% endif %}
  </body>
</html>

