{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "admin_main.html" %}

{% block admin_body %}
  <div class="container">

    <form class="wide-labels" action="{{url_for('admin.consumer_update')}}" method="post">
      {% if consumer %}
        {# We're editing an existing consumer.  Provide its ID. #}
        <h1 class="title">Edit Consumer</h1>
        <input type="hidden" name="consumer_id" value="{{consumer.id}}">
      {% else %}
        <h1 class="title">New Consumer</h1>
      {% endif %}

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="lti_consumer">lti_consumer:</label>
        </div>
        <div class="field-body">
          {% if consumer %}
            <div style="margin-top: 0.375rem;">{{consumer.lti_consumer}}</div>
          {% else %}
            <div class="field">
              <div class="control">
                <input class="input" required name="lti_consumer" id="lti_consumer">
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="lti_secret">lti_secret:</label>
          <p class="help-text">A shared secret used by the LTI consumer (the LMS) to authenticate itself with this application.  If blank, users from this consumer will not be able to connect.</p>
        </div>
        <div class="field-body">
          {% if consumer and consumer.lti_secret %}
            <div style="margin-top: 0.375rem;" x-data="{show_confirm: false}">
              {{consumer.lti_secret}}
              <button class="button is-danger is-small ml-3" type="button" @click="show_confirm=true" x-bind:disabled="show_confirm"><span class="delete mr-2"></span> Clear lti_secret</button>
              <button class="button is-danger is-small" type="submit" name="clear_lti_secret" x-show="show_confirm"><b>Confirm</b>&nbsp;clear lti_secret</button>
            </div>
          {% else %}
            <div class="field has-addons">
              <div class="control">
                <input class="input" name="lti_secret" id="lti_secret">
              </div>
              <div class="control">
                {# https://stackoverflow.com/a/24810220/ #}
                <button class="button is-warning" type="button" onclick="document.querySelector('#lti_secret').value = Array(10).fill().map(()=>(Math.random()*36|0).toString(36)).join('')">Generate New</button>
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="openai_key">openai_key:</label>
          <p class="help-text">A shared secret used by this application to authenticate itself with the OpenAI API.  If blank, users from this consumer will not be able to submit queries.</p>
        </div>
        <div class="field-body">
          {% if consumer and consumer.openai_key %}
            <div style="margin-top: 0.375rem;" x-data="{show_confirm: false}">
              {{ "*" * 20 + consumer.openai_key[-4:] }}
              <button class="button is-danger is-small ml-3" type="button" @click="show_confirm=true" x-bind:disabled="show_confirm"><span class="delete mr-2"></span> Clear openai_key</button>
              <button class="button is-danger is-small" type="submit" name="clear_openai_key" x-show="show_confirm"><b>Confirm</b>&nbsp;clear openai_key</button>
            </div>
          {% else %}
            <div class="field">
              <div class="control">
                <input class="input" name="openai_key" id="openai_key">
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="llm">LLM:</label>
          <p class="help-text">An LLM or family of LLMs to be used by this consumer.</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <div class="select">
                <select name="model_id" required id="model_id">
                  <option value="">Please select one</option>
                  {% for model in models %}
                    <option value="{{model.id}}" {% if consumer and model.id == consumer.model_id %}selected{% endif %}>{{model.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal"><!-- spacing --></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-link" type="submit">Submit</button>
              {% if consumer %}
                <button class="button is-danger" type="submit" formaction="{{ url_for('admin.consumer_delete', consumer_id=consumer.id) }}">
                   <span class="delete mr-2"></span>
                   Delete {{ consumer.lti_consumer }}
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </form>

  </div>
{% endblock %}
