{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}

{% block body %}
<style type="text/css">
.section {
  padding: 2rem;
  max-width: 1600px;
  margin: auto;
}
.item_sep { border: 2px solid #ccc; margin: 1em; }
.flex_items { display: flex; gap: 2em; flex-wrap: wrap; }
.flex_item { flex: 1 0 10em; }
@media (max-width: 1200px) {
  /* flip to column below a given width (instead of just using flex-wrap) so any .sep item becomes a horizontal line */
  .flex_items { flex-direction: column; }
}
.field-body {
  /* override bulma sizing for these forms */
  flex-grow: 2;
}
input[type='checkbox'],
input[type='radio'] {
  transform: scale(2.0);
  margin: 0.5rem;
  margin-top: 0.8rem;
}
</style>
<section class="section">
  <h1 class="title">Configure Class: {{ auth.cur_class.class_name }}</h1>
  <div class="flex_items" style="gap: 0;">
    <div class="flex_item">
      <h2 class="title is-size-4">Access</h2>
      <form action="{{ url_for('.save_access_config') }}" method="post">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="class_enabled">Class Active:</label>
            <p class="help-text">When not active, a class is "archived": users can still see old queries, but no new queries can be made.</p>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="class_enabled" id="class_enabled" type="checkbox" {% if class_row['enabled'] %}checked{% endif %}>
              </div>
            </div>
          </div>
        </div>

        {% if class_row['link_ident'] %}
        {# link_ident only in classes_user, so will only be set for user classes. #}
        <input type="hidden" name="is_user_class" value="true">

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Access/Join Link:</label>
          </div>
          <div class="field-body">
            <div class="field">
              {{ url_for("classes.access_class", class_ident=class_row['link_ident'], _external=True) }}
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Registration via Link:</label>
            <p class="help-text">When enabled, anyone who uses the access link will join the class.</p>
            <p class="help-text">When disabled, only already-registered users can access the class via its link.</p>
          </div>
          <div class="field-body">
            <div class="field" x-data="{ link_reg_active: '{{ link_reg_state }}' }">
              <div class="control">
                <label class="radio">
                  <input name="link_reg_active" x-model="link_reg_active" id="link_reg_disabled" type="radio" value="disabled" {% if link_reg_state == "disabled" %}checked{% endif %}>
                  Disabled
                </label>
              </div>
              <div class="control">
                <label class="radio">
                  <input name="link_reg_active" x-model="link_reg_active" id="link_reg_expires" type="radio" value="date" {% if link_reg_state == "date" %}checked{% endif %}>
                  Only until:
                </label>
                <input required class="input" name="link_reg_expires" x-bind:disabled="link_reg_active !== 'date'" type="date" style="width: inherit; vertical-align: baseline;" value="{{ class_row.link_reg_expires if link_reg_state == "date" else "" }}">
                <em class="has-text-grey">anywhere on Earth</em>
              </div>
              <div class="control">
                <label class="radio">
                  <input name="link_reg_active" x-model="link_reg_active" id="link_reg_enabled" type="radio" value="enabled" {% if class_row.link_reg_state == "enabled" %}checked{% endif %}>
                  Enabled
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="class_link_anon_login">Anonymous Registration:</label>
            <p class="help-text">When enabled, anyone using the access link <em>without</em> an existing account will create an anonymous account.</p>
            <p class="help-text">If they already have an account, they will join the class with that account.</p>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="class_link_anon_login" id="class_link_anon_login" type="checkbox" {% if class_row['link_anon_login'] %}checked{% endif %}>
              </div>
            </div>
          </div>
        </div>

        {% endif %}{# end if class_row['link_ident'] -- i.e., end of user-created class config #}

        <div class="field is-horizontal">
          <div class="field-label is-normal"><!-- spacing --></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-link" type="submit">Save</button>
              </div>
            </div>
          </div>
        </div>

      </form>

      {% if class_row['link_ident'] %}
      {# link_ident only in classes_user, so will only be set for user classes. #}
      <div class="item_sep"></div>

      <h2 class="title is-size-4 mt-5">Language Model</h2>
      {% if user_is_creator %}
      <form action="{{ url_for(".save_llm_config") }}" method="post" x-data="{
          llm_config_saved: {{ 'true' if class_row.llm_api_key else 'false' }},
          llm_test_loading: false,
          llm_test_result: null,
          model: {{ class_row.model_id }},
          model_providers: {
            {%- for model in models -%}
            {{ model.id }}: '{{ model.provider }}' {%- if not loop.last -%} , {%- endif -%}
            {%- endfor -%}
          },
          dialog: document.querySelector('#llm_test_dialog'),
          showDialog() {
            this.dialog.showModal();
          },
          test_llm() {
            this.llm_test_loading = true;
            fetch('{{url_for('.test_llm')}}')
              .then(response => response.text())
              .then(text => {
                this.llm_test_loading = false;
                this.llm_test_result = text;
                if (text !== 'ok') {
                  this.showDialog();
                }
              })
          },
      }">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="model_id">Model:</label>
            <p class="help-text">
              You can also <a href="{{url_for("models.new_model")}}">add a custom model</a>.
            </p>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select required x-model="model" name="model_id" id="model_id" x-on:change="llm_config_saved=false">
                    <option disabled value="">Please select one</option>
                    {% for model in models %}
                      <option value="{{model.id}}" {% if model.id == class_row.model_id %}selected{% endif %}>{{model.provider}} {{model.shortname}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">LLM API Key:</label>
            <p class="help-text" x-show="model_providers[model]=='OpenAI'">Your key must be in an <a href="https://platform.openai.com/docs/guides/rate-limits/usage-tiers">OpenAI usage tier</a> that allows for the level of usage you expect.  The free tier does not support the models used here.</p>
            <p class="help-text">If blank, users in this class will not be able to submit queries.</p>
          </div>
          <div class="field-body">
            {% if class_row.llm_api_key %}
              <div style="margin-top: 0.375rem;" x-data="{show_confirm: false}">
                {{ "*" * 20 + class_row.llm_api_key[-4:] }}
                <button class="button is-danger is-small ml-3" type="button" @click="show_confirm=true" x-bind:disabled="show_confirm"><span class="delete mr-2"></span> Clear API Key</button>
                <button class="button is-danger is-small" type="submit" name="clear_llm_api_key" x-show="show_confirm"><b>Confirm</b>&nbsp;clear API Key</button>
              </div>
            {% else %}
              <div class="field">
                <div class="control">
                  <input class="input" name="llm_api_key">
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal"><!-- spacing --></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-link" type="submit" name="save_llm_form">Save</button>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal"><!-- spacing --></div>
          <div class="field-body">
            <div class="field">
              <div class="control buttons">
                <button class="button" type="button" x-bind:disabled="!llm_config_saved || llm_test_result" x-on:click="test_llm()">Test saved key &amp; model</button>
                <button class="button" type="button"
                  x-bind:class="llm_test_loading ? 'is-loading' : llm_test_result==='ok' ? 'is-success' : 'is-danger'"
                  x-show="llm_test_loading || llm_test_result"
                  x-text="llm_test_loading ? '' : llm_test_result === 'ok' ? 'Success!' : 'Error!'"
                  x-on:click="showDialog"></button>
              </div>
            </div>
          </div>
        </div>

        <dialog id="llm_test_dialog">
          <div class="notification"
               x-bind:class="llm_test_result === 'ok' ? 'is-success' : 'is-danger'"
               x-html="llm_test_result === 'ok' ? '<strong>Your API key worked with the chosen model!</strong>' : llm_test_result">
          </div>
        </dialog>

      </form>
      {% else %}{# here, user_is_creator is False #}
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label" for="model_id">Model:</label>
          </div>
          <div class="field-body">
            <div class="field content">
              <p>
              {%- for model in models -%}
                {%- if model.id == class_row.model_id -%}
                  {{model.provider}} {{model.shortname}}
                {%- endif -%}
              {%- endfor -%}
              </p>
              <p><i>This can be configured by the creator of the class.</i></p>
            </div>
          </div>
        </div>
      {% endif %}{# end if user_is_creator #}

      {% endif %}{# end if class['link_ident'] -- i.e., end of user-created class config #}


      {% if components %}
      <div class="item_sep"></div>

      <h2 class="title is-size-4 mt-5">Class Tools</h2>

      <p class="help-text mb-3">You can toggle whether each tool is available in this class.</p>
      <form class="ml-5" x-data="{
        {%- for component in components -%}
          {{ component.name }}: {{ 'true' if component.is_enabled() else 'false' }},
        {%- endfor -%}
        }" action="{{ url_for('.save_component_enabled') }}" method="post">
        {% for component in components %}
          <div class="field">
            <label class="checkbox" for="{{ component.name }}_enabled">
              <input name="{{ component.name }}_enabled" id="{{ component.name }}_enabled" x-model="{{ component.name }}" type="checkbox" {% if component.is_enabled() %}checked{% endif %}>
              <strong>{{ component.display_name }}</strong>
              <p class="help-text mt-1 px-6">{{ component.description }}</p>
            </label>
          </div>
          {% for feature in component.features %}
            {% set feature_name %}{{component.name}}:{{feature.name}}{% endset %}
            <div class="field">
              <label class="checkbox ml-6" for="{{ feature_name }}_enabled" x-bind:disabled="!{{ component.name }}">
                <input name="{{ feature_name }}_enabled" id="{{ feature_name }}_enabled" type="checkbox" x-bind:disabled="!{{ component.name }}" {% if component.is_enabled(feature=feature.name) %}checked{% endif %}>
                {{ component.display_name }} : <strong>{{ feature.display_name }}</strong>
                <p class="help-text mt-1 px-6">{{ feature.description }}</p>
              </label>
            </div>
          {% endfor %}
        {% endfor %}
        <div class="field">
          <div class="control">
            <button class="button is-link ml-1" type="submit">Save</button>
          </div>
        </div>
      </form>

      {% endif %}{# end if components #}
    </div>

    {% if extra_sections_data %}
    <div class="item_sep"></div>
    <div class="flex_item">
      {% for section_spec in extra_sections_data %}
        {% with ctx = section_spec['ctx'] %}
          {% include section_spec['template_name'] %}
        {% endwith %}
        {% if not loop.last %}
          <div class="item_sep"></div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <div class="item_sep" style="min-width: 90%;"></div>

    <div class="flex_item my-5">
      <h2 class="title is-size-4">Class Data</h2>
      <button class="button icon-text is-danger" type="button" onclick="document.getElementById('delete_class_dialog').showModal()">
        <span class="icon">
          <svg aria-hidden="true"><use href="#svg_trash" /></svg>
        </span>
        <span> Delete Class Data ...</span>
      </button>
    </div>

    <dialog id="delete_class_dialog" style="max-width: 50em;">
      <div class="box content" style="border: 3px solid #a00; background: #fff0f0;">
        <h2 class="has-text-danger-dark">Delete Class Data</h2>
        <p>This will:</p>
        <ul>
          <li>Delete all user inputs made in this class</li>
          <li>Remove all users from the class, including you</li>
          <li>Delete class configuration data</li>
          <li>Anonymize all class usage data</li>
        </ul>
        <p>Users will <em>not</em> be deleted, nor will their data in any other class they are enrolled in.</p>
        {% if auth.user.auth_provider == 'lti' %}
          <p><strong>Warning:</strong> This class was accessed using a link to {{ config['APPLICATION_TITLE'] }} from an LMS.  If that link still exists in the LMS after deleting the class data here, anyone following it will create a new, distinct instance of this class (without any old data, but still with the ability to submit new queries).  To prevent that, remove the link from the LMS <em>before</em> deleting the class data here.</p>
        {% endif %}
        <p>Type "DELETE" in the text box to confirm you want to delete data for this class.</p>
        <p class="has-text-danger-dark"><strong class="has-text-danger-dark">Warning:</strong> Deleting class data cannot be undone.</p>
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 1em;">
          <form method="post" action="{{ url_for('instructor.delete_class') }}" x-data="{ confirm_delete: '' }">
            <div class="field is-grouped">
              <input type="hidden" name="class_id" value="{{ auth.cur_class.class_id }}">
              <div class="control">
                <input class="input is-danger" type="text" size=18 name="confirm_delete" x-model="confirm_delete" placeholder="Type DELETE to confirm">
              </div>
              <div class="control">
                <button type="submit" class="button is-danger" :disabled="confirm_delete !== 'DELETE'">
                  Delete Class Data
                </button>
              </div>
            </div>
          </form>
          <form method="dialog">
            <div class="control">
              <button type="submit" class="button">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </dialog>

  </div>
</section>

{% endblock body %}
