{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}

{% block body %}
<section class="section">
  <div class="container panel is-info" style="max-width: 30em">
    <div class="panel-heading">
      Log In
    </div>
    {% if not request.args.get('next') %}
    <div class="panel-block has-background-link-light">
        If you access {{ config['APPLICATION_TITLE'] }} through Canvas, Moodle, or another LMS, please use the link there to log in.
    </div>
    {% endif %}
    {% if "GOOGLE_CLIENT_SECRET" in config %}
    <div class="panel-block">
      <a href="{{ url_for('oauth.login', provider_name='google', next=next_url) }}" class="button icon-text is-large is-fullwidth">
        <span class="icon is-large">
          <svg role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Google</title><path d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .307 5.387.307 12s5.56 12 12.173 12c3.573 0 6.267-1.173 8.373-3.36 2.16-2.16 2.84-5.213 2.84-7.667 0-.76-.053-1.467-.173-2.053H12.48z"/></svg>
        </span>
        <span>Log in with Google</span>
      </a>
    </div>
    {% endif %}
    {% if "GITHUB_CLIENT_SECRET" in config %}
    <div class="panel-block">
      <a href="{{ url_for('oauth.login', provider_name='github', next=next_url) }}" class="button icon-text is-large is-fullwidth">
        <span class="icon is-large">
          <svg role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
        </span>
        <span>Log in with Github</span>
      </a>
    </div>
    {% endif %}
    {% if "MICROSOFT_CLIENT_SECRET" in config %}
    <div class="panel-block">
      <a href="{{ url_for('oauth.login', provider_name='microsoft', next=next_url) }}" class="button icon-text is-large is-fullwidth">
        <span class="icon is-large">
          <svg role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Microsoft</title><path d="M0 0v11.408h11.408V0zm12.594 0v11.408H24V0zM0 12.594V24h11.408V12.594zm12.594 0V24H24V12.594z"/></svg>
        </span>
        <span>Log in with Microsoft</span>
      </a>
    </div>
    {% endif %}
    <div x-data="{'shown': false}" class="panel-block has-background-light" style="display: block;">
      <div style="width: 100%; text-align: right;" @click="shown=true;" x-show="!shown">
        <a role="button"><i>local account...</i></a>
      </div>
      <div style="overflow-y: hidden; width: 100%;">
        <div style="width: 100%; transition-property: margin-top; transition-duration: 1s; margin-top: -12em;" x-bind:style="{'margin-top': shown && '0'}">
          <form action="{{ url_for('auth.login', next=next_url) }}" method="post">
            <input type="hidden" name="next" value="{{ next_url }}">

            <div style="display: grid; grid-template-columns: max-content 1fr; align-items: end; gap: 0.5em;">
              <div style="grid-column: 1 / 3;">
                <p>Log in with a local account:</p>
              </div>
              <label class="label" for="username">Username:</label>
              <input class="input" name="username" id="username">
              <label class="label" for="password">Password:</label>
              <input class="input" type="password" name="password" id="password">
              <div style="grid-column: 2 / 3;">
                <button class="button is-link" type="submit">Log In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
