{#
SPDX-FileCopyrightText: 2025 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}

{% block body %}

<section class="section">
  <div class="container">
    {% if model %}
      <h1 class="title">Editing '{{model["shortname"]}}' Model</h1>
      <form class="wide-labels" action="{{ url_for("models.models_update", model_id=model["id"]) }}" method="post">
    {% else %}
      <h1 class="title">Create New Model</h1>
      <form class="wide-labels" action="{{ url_for("models.create_new_model") }}" method="post">      
    {% endif %}

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="shortname">Model Short Name</label>
          <p class="help-text">Short nickname for model</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" required type="text" name="shortname" id="shortname" value="{{model['shortname']}}">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="custom_endpoint">Custom Endpoint</label>
          <p class="help-text">API endpoint of your model</p>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" required name="custom_endpoint" id="custom_endpoint" value="{{model['custom_endpoint']}}">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="model">Model's API Identifier</label>
          <p class="help-text">The name used to identify the model in the API (refer to the API documentation)</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" required name="model" id="model" value="{{model['model']}}">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal"><!-- spacing --></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-link" type="submit" >Save</button>
              {% if model %}
                <button class="button is-danger" type="submit" formaction="{{ url_for('models.models_delete', model_id=model.id) }}" onclick="return confirm('Are you sure you want to delete this model?');">
                  <span class="delete mr-2"></span>
                  Delete
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</section>

{% endblock body %}
