{#
SPDX-FileCopyrightText: 2025 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}

{% block body %}

<section class="section">
  <div class="container content">
    {# djlint: off H025 -- the <form...> is not actually an orphan #}
    {% if model %}
      <h1 class="title">Editing '{{model["shortname"]}}' Model</h1>
      <form class="wide-labels" action="{{ url_for("models.models_update", model_id=model["id"]) }}" method="post">
    {% else %}
      <h1 class="title">Add New Model</h1>
      <p>You will be able to select and use this model in any classes you create.</p>
      <form class="wide-labels" action="{{ url_for("models.create_new_model") }}" method="post">      
    {% endif %}
    {# djlint: on #}

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="shortname">Name</label>
          <p class="help-text">Short nickname to show when selecting models</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" required type="text" name="shortname" id="shortname" value="{{model['shortname']}}">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="custom_endpoint">Custom Endpoint</label>
          <p class="help-text">API endpoint of your model<br>Must be OpenAI-compatible (<a href="https://ai.google.dev/gemini-api/docs/openai">for example</a>)</p>
        </div>

        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" required name="custom_endpoint" id="custom_endpoint" value="{{model['custom_endpoint']}}">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="model">Model's API Identifier</label>
          <p class="help-text">The name used to identify the model in the API (refer to the API documentation)</p>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" required name="model" id="model" value="{{model['model']}}">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal"><!-- spacing --></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-link" type="submit" >Save</button>
            </div>
            <div class="control mt-6">
              {% if model %}
                {% set use_count = model.user_class_use_count %}
                <button class="button is-danger" {% if use_count > 0 -%} disabled {%- endif %} type="submit" formaction="{{ url_for('models.models_delete', model_id=model.id) }}" onclick="return confirm('Are you sure you want to delete this model?');">
                  <span class="delete mr-2"></span>
                  Delete model
                </button>
                {% if use_count > 0 %}
                  <p class="is-italic mt-2">
                    Models cannot be deleted while selected for use in any classes.<br>
                    This model is currently selected for {{ use_count }} class{% if use_count > 1 %}es{% endif %}.
                  </p>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</section>

{% endblock body %}
