{#
SPDX-FileCopyrightText: 2024 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}
{% from "tables.html" import datatable, datatable_extrahead %}

{% block extrahead %}
{{ datatable_extrahead }}
{% endblock extrahead %}

{% block body %}
<section class="section p-5">
  <h1 class="title">Your Data</h1>
  {% for name, table in tables %}
    <h2 class="title is-size-4">{{ name | capitalize }}</h2>
    {{ datatable(table) }}
  {% endfor %}
</section>
{% endblock body %}
