{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% extends "base.html" %}

{% block body %}
<style type="text/css">
dl.profile { display: grid; grid-template-columns: minmax(min-content, max-content) 1fr; gap: 1em; }
dl.profile dt { font-weight: bold; text-align: right; }
dl.profile dd { margin: 0; }
</style>

<section class="section">
  <div class="container content is-size-5">
    <h1 class="title">Your Profile</h1>

    <dl class="profile">
      {% if user.full_name %}
        <dt>Full Name:</dt>
        <dd>{{ user.full_name }}</dd>
      {% endif %}
      {% if user.email %}
        <dt>Email:</dt>
        <dd>{{ user.email }}</dd>
      {% endif %}
      {% if user.auth_name %}
        <dt>{{ user.provider_name | title }} username:</dt>
        <dd>{{ user.auth_name }}</dd>
      {% endif %}
      {% if user.is_admin %}
        <dt></dt>
        <dd class="icon-text has-text-danger">
          <span class="icon">
            <svg aria-hidden="true"><use href="#svg_admin" /></svg>
          </span>
          <span>Admin</span>
        </dd>
      {% endif %}
      {% if user.is_tester %}
        <dt></dt>
        <dd class="icon-text has-text-success">
          <span class="icon">
            <svg aria-hidden="true"><use href="#svg_flask" /></svg>
          </span>
          <span>Tester</span>
        </dd>
      {% endif %}
      <dt>Queries:</dt>
      <dd><a href="{{ url_for('profile.view_data') }}">{{ user.num_queries }} total</a>, {{ user.num_recent_queries }} in the past week.</dd>
      {% if not auth.cur_class %}
      <dt>Free Queries:</dt>
      <dd>
        {{ user.query_tokens }} remaining.
        <button class="button is-small is-rounded p-2 ml-3" type="button" onClick="document.getElementById('free_query_dialog').showModal();">what's this?</button>
      </dd>
      {% endif %}
    </dl>

    <h2 class="title is-size-3">
      Classes
      {% if user.provider_name not in ['lti', 'demo'] %}
        <button class="button ml-5 icon-text is-light is-link" onclick="document.querySelector('#new_class_dialog').showModal()">
            <span class="icon">
                <svg aria-hidden="true"><use href="#svg_plus" /></svg>
            </span>
            <span>Create new class</span>
        </button>
      {% endif %}
    </h2>
    <dl class="profile">
      <dt>Current:</dt>
      {% if auth.cur_class %}
        <dd>{{ auth.cur_class.class_name }} ({{ auth.cur_class.role }})</dd>
      {% else %}
        <dd>None active.</dd>
      {% endif %}

      {% if other_classes %}
        <dt>Other:</dt>
        <dd>
          {% for class in other_classes %}
          <p>
            {{ class.name }} ({{ class.role }})
            <a href="{{ url_for("classes.switch_class_handler", class_id=class.id) }}" class="button is-link is-small is-rounded ml-3" style="vertical-align: center;">
              Switch to
            </a>
          </p>
          {% endfor %}
        </dd>
      {% endif %}

      {% if archived_classes %}
        <dt>Archived:</dt>
        <dd>
          {% for class in archived_classes %}
          <p>
            {{ class.name }} ({{ class.role }})
            <a href="{{ url_for("classes.switch_class_handler", class_id=class.id) }}" class="button is-link is-small is-rounded ml-3" style="vertical-align: center;">
              Switch to
            </a>
          </p>
          {% endfor %}
        </dd>
      {% endif %}
    </dl>

    <h2 class="title is-size-3">Your Data</h2>
    <div class="buttons">
      <a class="button ml-5 is-info" href="{{ url_for('profile.view_data') }}">
        View &amp; export your data
      </a>
      {% if user.provider_name not in ['lti', 'demo', 'local'] %}
        <button class="button ml-5 icon-text is-info" onclick="document.querySelector('#anonymize_dialog').showModal()">
          <span class="icon">
            <svg aria-hidden="true"><use href="#svg_user" /></svg>
          </span>
          <span>Anonymize account</span>
        </button>
      {% endif %}
      <button class="button ml-5 icon-text is-danger" onclick="document.querySelector('#delete_dialog').showModal()">
        <span class="icon">
          <svg aria-hidden="true"><use href="#svg_trash" /></svg>
        </span>
        <span>Delete your account</span>
      </button>
    </div>

  </div>

  <dialog id="delete_dialog" style="max-width: 50em; min-width: min(32em, 100vw);">
    <div class="content box" style="border: 3px solid #a00; background: #fff8f8;">
      <h2 class="has-text-danger-dark">Delete Your Account</h2>
      <div class="content">
        <p>This will:
          <ul>
            <li>Delete all inputs you have made in any class</li>
            <li>Anonymize all of your usage data</li>
            <li>Delete this user</li>
            <li>Log you out</li>
          </ul>
        </p>
        {% if auth.user.auth_provider == 'lti' %}
          <p>This user was created using a link from an LMS.  If you connect to CodeHelp from your LMS after deleting your data here, you will create a new user on CodeHelp separate from this one.</p>
        {% endif %}
        <p>Type "DELETE" in the text box to confirm you want to delete your account.</p>
        <p class="has-text-danger-dark"><strong class="has-text-danger-dark">Warning:</strong> Deleting your data cannot be undone.</p>
      </div>
      <form method="POST" action="{{ url_for('profile.delete_data') }}">
        {% if created_classes %}
          <div class="field has-addons">
            <div class="control">
              <input disabled class="input is-danger" type="text" name="confirm_delete" placeholder="Type DELETE to confirm">
            </div>
            <div class="control">
              <button disabled type="submit" class="button is-danger">
                Delete Account
              </button>
            </div>
          </div>
          <div class="notification is-danger">
            <p><strong>Classes cannot be orphaned.</strong></p>
            <p>Before you can delete your account, you must first delete all classes you have created:</p>
            <ul>
              {% for class in created_classes %}
                <li>{{ class.name }}</li>
              {% endfor %}
            </ul>
            <p>This must be done manually, because it may require deleting other user's data.</p>
          </div>
        {% else %}
          <div class="field has-addons">
            <div class="control">
              <input class="input is-danger" type="text" name="confirm_delete" placeholder="Type DELETE to confirm">
            </div>
            <div class="control">
              <button type="submit" class="button is-danger">
                Delete Class Data
              </button>
            </div>
          </div>
        {% endif %}
          <div class="control">
            <button class="button" type="submit" formnovalidate formmethod="dialog">Cancel</button>
          </div>
      </form>
    </div>
  </dialog>

  {% if user.provider_name not in ['lti', 'demo'] %}
    <dialog id="new_class_dialog" style="width: 75%; min-width: min(32em, 100vw);">
      <div class="content box">
        <h2>Create a New Class</h2>
        <p>You can create a class, attach an OpenAI API key to it, and invite others to join it as students.  You will be given the 'instructor' role in the class, and you will be able to configure it, control access and registration, and see all queries from students who join.</p>
        <form action="{{url_for('classes.create_class')}}" method="post">
          <div class="field">
            <label class="label is-size-5" for="class_name">Class Name:</label>
            <div class="control">
              <input class="input" required autofocus name="class_name" id="class_name">
            </div>
          </div>
          <div class="field">
            <label class="label is-size-5" for="llm_api_key">
              OpenAI API Key:
            </label>
            <div class="control">
              <input class="input" name="llm_api_key" id="llm_api_key">
            </div>
            <p>(The API key can be left blank for now, but you will need to add one to the class to submit queries.)</p>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
              <button class="button" type="submit" formnovalidate formmethod="dialog">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </dialog>
  {% endif %}

  {% if not auth.cur_class %}
    {% include "free_query_dialog.html" %}
  {% endif %}

  {% if user.provider_name not in ['lti', 'demo', 'local'] %}
    <dialog id="anonymize_dialog" style="max-width: 50em; min-width: min(32em, 100vw);">
      <div class="content box">
        <h2 class="has-text-info">Anonymize Your Account</h2>
        <div class="content">
          <p>This will:
            <ul>
              <li>Remove your name, email, and username from your account</li>
              <li>Give your account a new, anonymous name</li>
              <li>Keep your account active and your usage data intact</li>
            </ul>
          </p>
          <p class="has-text-danger-dark"><strong class="has-text-danger-dark">Warning:</strong> Account anonymization cannot be undone.</p>
        </div>
        <form method="POST" action="{{ url_for('profile.anonymize') }}">
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-info">Anonymize Account</button>
            </div>
            <div class="control">
              <button class="button" type="submit" formnovalidate formmethod="dialog">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </dialog>
  {% endif %}

</section>
{% endblock body %}
