{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% set datatable_extrahead %}
    <link href="{{ url_for('static', filename='datatables.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/diff-dom@5/browser/diffDOM.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Basic render function for normal cells
      // Use textnodes to ensure that cell contents are text,
      // not treated as tags, etc. (XSS protection)
      function renderCell(data) {
        if (!data || !data[0] || !data[0].data) { return ""; }
        data = data[0].data;
        let contents;
        if (data.length > 30) {
          // truncate and put full contents in title attr of a span
          const trunc = data.substring(0, 30) + "...";
          contents = document.createElement('span');
          contents.title = data;
          contents.appendChild(document.createTextNode(trunc));
        }
        else {
          contents = document.createTextNode(data);
        }
        const el = document.createElement('td')
        el.appendChild(contents);
        return diffDOM.nodeToObj(el);
      }
      // build render functions for various column types
      function makeRender(colspec) {
        switch (colspec.kind) {
          case 'user':
            return (data, td, rowIndex, cellIndex) => {
              try {
                data = JSON.parse(data[0].data);
                return `${data[0]} <span class='is-size-7 has-text-grey' ${data[2] && `title='${data[2]}'`}>(${data[1]})</span>`
              } catch (e) {
                renderCell(data);
              }
            }
          case 'bool': {
            let url = colspec.url;
            let reload = colspec.reload;
            if (url) {
              return (data, td, rowIndex, cellIndex) =>
                `<input type="checkbox" ${data[0] && data[0].data == '1' && 'checked'} data-isboolcol='True' data-rowindex='${rowIndex}' data-url='${url}' data-reload='${reload}'>`
            } else {
              return (data, td, rowIndex, cellIndex) =>
                `<input type="checkbox" ${data[0] && data[0].data == '1' && 'checked'} style='pointer-events: none;' tabindex='-1'>`
            }
          }
          default:
            return (data, td, rowIndex, cellIndex) =>
              data[0] && renderCell(data)
        }
      }
      // event listener for 'b'ool columns
      function checkboxListener(event, table) {
        const dataset = event.target.dataset;
        if ('isboolcol' in dataset) {
          const rowIndex = dataset.rowindex;
          const row = table.data.data[rowIndex];
          const id = row.cells[0].text;

          const int_val = event.target.checked ? 1 : 0;

          const url = dataset.url
          const reload = dataset.reload === 'true';

          const full_url = `${url}/${id}/${int_val}`;
          fetch(full_url, {method: "POST"})
            .then(response => response.text())
            .then(text => {
              if (text !== 'okay') {
                alert(`Error: ${text}\nURL: ${url}`);
              }
            })
            .then(() => { reload && window.location.reload(); })
          ;
        }
      }

      function initTable(tblname, columns, rows, link_col, link_func, csv_link, ajax_url) {
        const table = new simpleDatatables.DataTable(`table#${tblname}`, {
          columns: columns,
          paging: rows > 15,
          perPage: 10,
          perPageSelect: [[10, 10], [20, 20], [50, 50], ["All", 0]],
          labels: {
            perPage: "per page",
            info: "{start} to {end} of {rows}",
          },
          template: options => `
<div class='${options.classes.bottom}'>
${ options.paging ? `<nav class='${options.classes.pagination}'></nav>` : "" }
${ options.paging ? `<div class='${options.classes.info}'></div>` : "" }
${ options.paging && options.perPageSelect ?
  `<div class='${options.classes.dropdown}'>
    <label>
      <select class='${options.classes.selector}'></select> ${options.labels.perPage}
    </label>
  </div>` :
  ""
}
</div>
<div class='${options.classes.container}'${options.scrollY.length ? ` style='height: ${options.scrollY}; overflow-Y: auto;'` : ""}></div>
<div class='${options.classes.bottom}'>
  <div class='${options.classes.search}'>
    <button class="button is-small" id="csv_${tblname}">Export CSV</button>
${ options.searchable ?
    `<input class='${options.classes.input}' placeholder='${options.labels.placeholder}' type='text' size='7'>` : ""
}
  </div>
</div>
`,
        });

        // We have to set a listener here to have access to the
        // correct table object, and have to do it across the
        // entire table because individual elements may be
        // dynamically created/removed over time.
        table.dom.addEventListener("click", event => checkboxListener(event, table));

        if (link_col !== null) {
          table.on("datatable.selectrow", (row, event) => {
            if (event.target.tagName !== 'TD') {
              // button or something other than the data/cell itself -- don't trigger anything and let the default happen
              return;
            }
            if (event.button === 0) {
              // left click: follow the row's link
              const value = table.data.data[row].cells[link_col].text;
              const url = link_func(value);
              window.location = url;
            }
          });
        }

        if (csv_link) {
          document.querySelector(`button#csv_${tblname}`).addEventListener('click', event => {
            window.location = csv_link;
          });
        } else {
          document.querySelector(`button#csv_${tblname}`).addEventListener('click', event => {
            simpleDatatables.exportCSV(table);
          });
        }

        if (ajax_url) {
          fetch(ajax_url)
            .then(response => response.json())
            .then(data => {
              table.insert(data);
              table.update();
            });
        }
      }
    </script>
{% endset %}

{% macro datatable(table) -%}
  {% set name = table.name %}
  {% if table.data %}
    <style type="text/css">
    {% set css_sel = 'table#' + name %}
    {% for col in table.columns %}
      {% set n = loop.index - (hidden_cols | length) %}
      {% if col.align %}
      {{css_sel}} tr td:nth-child({{n}}), 
      {{css_sel}} thead th:nth-child({{n}}) {
        text-align: {{ col.align }}
      }
      {% endif %}
    {% endfor %}
    {% if table.extra_links %}
      {{css_sel}} td.extra_links {
        text-align: right;
      }
      {{css_sel}} .button {
        height: 1.5em;
        vertical-align: text-bottom;
      }
    {% endif %}
    </style>
  {% endif %}
  <table id="{{name}}" class="{{ 'row_selectable' if table.link_col is not none else '' }}">
    <thead>
      <tr>
      {% for col in table.columns %}
        <th {{ "data-hidden=true" if col.name in table.hidden_cols else '' }}>{{ col.name }}</th>
      {% endfor %}
      {% if table.extra_links %}
        <th class="extra_links" data-sortable="False" data-searchable="False"></th>
      {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in table.data %}
        <tr>
          {# TODO: Move all rendering to client-side?  Or else homogenize rendering between HTML and JSON routes... #}
          {% for col in table.columns %}
            <td>
            {%- if col.kind == 'time' -%}
              {{ row[col.name] | localtime }}
            {%- elif col.name == 'response' -%}
              {{ row[col.name] | fmt_response_txt }}
            {%- elif row[col.name] is string -%}
              {{ row[col.name][:1000] }}
            {%- elif row[col.name] is none -%}
            {%- else -%}
              {{ row[col.name] }}
            {%- endif -%}
            </td>
          {% endfor %}
          {% if table.extra_links %}
            <td>
            {% for link in table.extra_links %}
              {% if 'icon' in link %}
                <a class="has-text-grey icon icon-text" title="{{ link['text'] }}" href="{{ url_for(link['handler'], **{link['param']: row['id']}) }}">
                  <svg aria-hidden="true"><use href="#svg_{{ link['icon'] }}" /></svg>
                </a>
              {% else %}
                <a class="button is-warning is-small p-1" href="{{ url_for(link['handler'], **{link['param']: row['id']}) }}">{{ link['text'] }}</a>
              {% endif %}
            {% endfor %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script type="text/javascript">
    { // limit scope to re-use varnames if this block is repeated
      let column_spec = {{ table.columns | tojson }};
      const columns = column_spec.map((spec, index) => ({
        select: index,
        render: makeRender(spec)
      }));
      initTable({{name | tojson}}, columns, {{table.data | length}}, {{table.link_col | tojson}}, value => `{{table.link_template | safe}}`, {{table.csv_link | tojson}}, {{table.ajax_url | tojson}});
    }
  </script>
{%- endmacro %}
