{#
SPDX-FileCopyrightText: 2023 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}

{% set datatable_extrahead %}
    <link href="{{ url_for('static', filename='datatables.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9/dist/umd/simple-datatables.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/diff-dom@5/browser/diffDOM.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Basic render function for normal cells
      // Use textnodes to ensure that cell contents are text,
      // not treated as tags, etc. (XSS protection)
      function renderCell(data) {
        if (data === null) {
          data = "";
        }
        let contents;
        if (data.length > 30) {
          // truncate and put full contents in title attr of a span
          const trunc = data.substring(0, 30) + "...";
          contents = document.createElement('span');
          contents.title = data;
          contents.appendChild(document.createTextNode(trunc));
        }
        else {
          contents = document.createTextNode(data);
        }
        const el = document.createElement('td')
        el.appendChild(contents);
        return diffDOM.nodeToObj(el);
      }
      // build render functions for various column types
      function makeRender(colspec) {
        switch (colspec.kind) {
          case 'bool': {
            let url = colspec.url;
            let reload = colspec.reload;
            if (url) {
              return (data, td, rowIndex, cellIndex) =>
                `<input type="checkbox" ${data == '1' && 'checked'} data-isboolcol='True' data-rowindex='${rowIndex}' data-url='${url}' data-reload='${reload}'>`
            } else {
              return (data, td, rowIndex, cellIndex) =>
                `<input type="checkbox" ${data == '1' && 'checked'} style='pointer-events: none;' tabindex='-1'>`
            }
          }
          case 'date':
          case 'time': {
            const options = {
              dateStyle: colspec.kind === 'time' ? 'short' : 'medium',
              timeStyle: colspec.kind === 'time' ? 'short' : undefined,
            };
            const fmt = Intl.DateTimeFormat(undefined /* browser's locale */, options);
            return (data, td, rowIndex, cellIndex) => fmt.format(new Date(data));
          }
          case 'html':
            return (data, td, rowIndex, cellIndex) => {
              // simple-datatables fails to parse these HTML entities,
              // so we'll do it manually here.
              data.forEach(obj => {
                if (obj.attributes && obj.attributes.title) {
                  obj.attributes.title = obj.attributes.title.replaceAll('&#34;', '"').replaceAll('&#39;', '\'').replaceAll('&#13;', '\n');
                }
              });
              // ... and we have to wrap it in a TD to make simple-datatables happy, too.
              el = diffDOM.nodeToObj(document.createElement('td'))
              el.childNodes = data;
              return el;
            }
          default:
            return (data, td, rowIndex, cellIndex) => renderCell(data)
        }
      }
      // event listener for 'b'ool columns
      function checkboxListener(event, table) {
        const dataset = event.target.dataset;
        if ('isboolcol' in dataset) {
          const rowIndex = dataset.rowindex;
          const row = table.data.data[rowIndex];
          const id = row.cells[0].data;

          const int_val = event.target.checked ? 1 : 0;

          const url = dataset.url
          const reload = dataset.reload === 'true';

          const full_url = `${url}/${id}/${int_val}`;
          fetch(full_url, {method: "POST"})
            .then(response => response.text())
            .then(text => {
              if (text !== 'okay') {
                alert(`Error: ${text}\nURL: ${url}`);
              }
            })
            .then(() => { reload && window.location.reload(); })
          ;
        }
      }
      // render function for the actions cell
      function renderActionsCol(actions, table, rowIndex) {
        const td = document.createElement('td');
        td.style.textAlign = 'center';
        for (const action of actions) {
          const id = table.data.data[rowIndex].cells[action.id_col].text;
          const el = document.createElement('a');
          el.classList.add('has-text-grey', 'icon', 'icon-text');
          el.title = action.text;
          el.href = action.url + id;
          const svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
          svg.aria_hidden = true;
          const use = document.createElementNS('http://www.w3.org/2000/svg', 'use');
          use.setAttribute('href', `#svg_${action.icon}`);
          svg.appendChild(use);
          el.appendChild(svg);
          td.appendChild(el);
        }
        return diffDOM.nodeToObj(td);
      }

      function initTable(tblname, column_spec, table_data, link_col, link_func, actions, csv_link, ajax_url) {
        // inject column headings for the initial load to control the column order
        const initData = {
          headings: column_spec.map(spec => spec.name),
          data: table_data,
        };
        function mapColType(kind) {
          switch(kind) {
            case 'time':
            case 'date':
              return 'date';
            case 'html':
              return 'html';
            default:
              return 'string';  // important to prevent SimpleDataTables from trying to parse all sorts of junk in the cells
          }
        }
        const columns = column_spec.map((spec, index) => ({
          select: index,
          hidden: spec.hidden,
          type: mapColType(spec.kind),
          format: 'UNIX',  // hack to force dayjs date parsing to skip any formats (none of which match Python's RFC 2822) and use browser's built-in parsing, which might just work, thus allowing sorting the date column
          render: makeRender(spec),
        }));
        const table = new simpleDatatables.DataTable(`table#${tblname}`, {
          columns: columns,
          data: initData,
          paging: initData.data.length > 15,
          perPage: 10,
          perPageSelect: [[10, 10], [20, 20], [50, 50], ["All", 0]],
          labels: {
            perPage: "per page",
            info: "{start} to {end} of {rows}",
          },
          template: options => `
<div class='${options.classes.bottom}'>
${ options.paging ? `<nav class='${options.classes.pagination}'></nav>` : "" }
${ options.paging ? `<div class='${options.classes.info}'></div>` : "" }
${ options.paging && options.perPageSelect ?
  `<div class='${options.classes.dropdown}'>
    <label>
      <select class='${options.classes.selector}'></select> ${options.labels.perPage}
    </label>
  </div>` :
  ""
}
</div>
<div class='${options.classes.container}'${options.scrollY.length ? ` style='height: ${options.scrollY}; overflow-Y: auto;'` : ""}></div>
<div class='${options.classes.bottom}'>
  <div class='${options.classes.search}'>
    <button class="button is-small" id="csv_${tblname}">Export CSV</button>
${ options.searchable ?
    `<input class='${options.classes.input}' placeholder='${options.labels.placeholder}' type='text' size='7'>` : ""
}
  </div>
</div>
`,
        });

        // Add actions column
        if (actions) {
          table.columns.add({
            data: [],
            sortable: false,
            searchable: false,
            render: (value, td, rowIndex, cellIndex) => renderActionsCol(actions, table, rowIndex),
          });
        }

        // We have to set a listener here to have access to the
        // correct table object, and have to do it across the
        // entire table because individual elements may be
        // dynamically created/removed over time.
        table.dom.addEventListener("click", event => checkboxListener(event, table));

        if (link_col !== null) {
          table.on("datatable.selectrow", (row, event) => {
            if (event.target.tagName !== 'TD') {
              // button or something other than the data/cell itself -- don't trigger anything and let the default happen
              return;
            }
            if (event.button === 0) {
              // left click: follow the row's link
              const value = table.data.data[row].cells[link_col].data;
              const url = link_func(value);
              window.location = url;
            }
          });
        }

        if (csv_link) {
          document.querySelector(`button#csv_${tblname}`).addEventListener('click', event => {
            window.location = csv_link;
          });
        } else {
          document.querySelector(`button#csv_${tblname}`).addEventListener('click', event => {
            simpleDatatables.exportCSV(table);
          });
        }

        if (ajax_url) {
          fetch(ajax_url)
            .then(response => response.json())
            .then(data => {
              table.insert(data);
              // reset the actions column to populate the new rows, too
              // not sure if there's a better way, but removing and re-adding the column works
              if (actions) {
                table.columns.remove(table.data.headings.length - 1);
                table.columns.add({
                  data: [],
                  sortable: false,
                  searchable: false,
                  render: (value, td, rowIndex, cellIndex) => renderActionsCol(actions, table, rowIndex),
                });
              }
            });
        }
      }
    </script>
{% endset %}

{% macro datatable(table) -%}
  {% set name = table.name %}
  {% if table.data %}
    <style type="text/css">
    {% set css_sel = 'table#' + name %}
    {% for col in table.columns %}
      {% set n = loop.index - table.num_hidden %}
      {% if col.align %}
      {{css_sel}} tr td:nth-child({{n}}), 
      {{css_sel}} thead th:nth-child({{n}}) {
        text-align: {{ col.align }}
      }
      {% endif %}
    {% endfor %}
    </style>
  {% endif %}
  <table id="{{name}}" class="{{ 'row_selectable' if table.link_col is not none else '' }}">
  </table>
  <script type="text/javascript">
    initTable(
      {{name | tojson}},
      {{table.columns | tojson}},
      {{table.table_data | tojson}},
      {{table.link_col | tojson}},
      value => `{{table.link_template | safe}}`,
      {{table.actions | tojson}},
      {{table.csv_link | tojson}},
      {{table.ajax_url | tojson}},
    );
  </script>
{%- endmacro %}
