{#
SPDX-FileCopyrightText: 2024 Mark Liffiton <liffiton@gmail.com>

SPDX-License-Identifier: AGPL-3.0-only
#}
{% extends "base.html" %}

{% block title %}False Responses - Eval Set {{ eval_set['id'] }}{% endblock %}

{% block content %}
<h1>False Responses - Eval Set {{ eval_set['id'] }}</h1>
<p>
    <strong>Prompt Function:</strong> {{ eval_set['prompt_func'] }}<br>
    <strong>Response Model:</strong> {{ eval_set['response_model'] }}<br>
    <strong>Eval Model:</strong> {{ eval_set['model'] }}
</p>
<h2>Responses ({{ false_responses|length }})</h2>
{% for response in false_responses %}
    <div class="response">
        <h3>Response:</h3>
        <div class="response-text">{{ response['text']|markdown }}</div>
        <h3>Model Response:</h3>
        <pre>{{ response['model_response'] }}</pre>
        <h3>Evaluation:</h3>
        <ul>
            {% for key, value in response['evaluation'].items() %}
                <li class="{{ 'true' if value else 'false' }}">{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
{% endblock %}
